---
import bgHomeHero3 from "@src/Images/Home/bg-HomeHero3.avif";
import bgHomeHeroDesktop3 from "@src/Images/Home/bgHomeHeroDesktop3.avif";
import HeroHomeLayout from "../Sections/HeroHomeLayout.astro";
---

<HeroHomeLayout bgImage={bgHomeHero3} bgImageDesktop={bgHomeHeroDesktop3}>
  <h1
    class="mb-6 min-h-28 text-pretty text-4xl font-extralight text-white-200 xs:text-5xl md:text-4xl lg:text-5xl"
  >
    <span class="font-bold">Consultoría especializada</span>
    Para Impulsar proyectos
    <span class="font-bold">Tecnológicos</span>
  </h1>
  <p
    class="text-pretty text-xl font-light leading-tight text-white-300 md:text-2xl"
  >
    Ofrecemos asesoría profesional a empresas y estudiantes para desarrollar
    soluciones innovadoras en hardware, software y tecnologías IoT, adaptadas a
    los desafíos y necesidades del mercado actual. ¡Haz realidad tus ideas con
    el respaldo de expertos en tecnología!
  </p>
</HeroHomeLayout>
