---
import bgHomeHero2 from "@src/Images/Home/bg-HomeHero2.avif";
import bgHomeHeroDesktop2 from "@src/Images/Home/bgHomeHeroDesktop2.avif";
import HeroHomeLayout from "../Sections/HeroHomeLayout.astro";
---

<HeroHomeLayout bgImage={bgHomeHero2} bgImageDesktop={bgHomeHeroDesktop2}>
  <h1
    class="mb-6 text-pretty text-4xl font-extralight text-white-200 xs:text-5xl md:text-4xl"
  >
    Potencia tu empresa con
    <span class="font-bold">Soluciones Tecnológicas a la Medida</span>
  </h1>
  <p class="text-pretty text-xl font-light leading-tight text-white-300">
    Diseñamos soluciones personalizadas en Hardware, Software e IoT, combinando
    tecnología de vanguardia para llevar tus ideas al siguiente nivel y
    convertirlas en resultados efectivos para la industria y el comercio.
  </p>
</HeroHomeLayout>
