---
import { getEntry } from "astro:content";

const infoMMJ = await getEntry("infoMMJ", "info-mmj");
---

<ul
  class="invisible absolute -bottom-20 left-0 right-0 z-50 mx-auto w-fit items-center justify-center gap-8 rounded-2xl bg-white-100 bg-opacity-90 p-8 lg:visible lg:flex"
>
  <li
    class="flex w-44 flex-col items-center px-6 py-4 text-5xl font-bold text-secondary-500"
  >
    {infoMMJ.data.amountStudents}
    <span class="text-xl font-normal text-secondary-500">Estudiantes</span>
  </li>
  <div class="h-24 w-[1px] bg-secondary-500"></div>
  <li
    class="flex w-44 flex-col items-center px-6 py-4 text-5xl font-bold text-secondary-500"
  >
    {infoMMJ.data.amountCourses}
    <span class="text-xl font-normal text-secondary-500">Cursos</span>
  </li>
  <div class="h-24 w-[1px] bg-secondary-500"></div>

  <li
    class="flex w-44 flex-col items-center px-6 py-4 text-5xl font-bold text-secondary-500"
  >
    {infoMMJ.data.amountServices}
    <span class="text-xl font-normal text-secondary-500">Servicios</span>
  </li>
  <div class="h-24 w-[1px] bg-secondary-500"></div>

  <li
    class="flex w-44 flex-col items-center px-6 py-4 text-5xl font-bold text-secondary-500"
  >
    {infoMMJ.data.amountProyects}
    <span class="text-xl font-normal text-secondary-500">Proyectos</span>
  </li>
</ul>
