---
import PuzzleConsulting from "@src/Images/icons/PuzzleConsulting.astro";
import BgStudentDesktop from "@src/Images/Consultoria/BgStudentDesktop.webp";
import { Image } from "astro:assets";
---

<section class="hidden bg-white-100 lg:block">
  <div class="mx-auto flex max-w-7xl flex-row-reverse">
    <div class="relative aspect-auto h-fit w-3/5 max-w-4xl">
      <Image src={BgStudentDesktop} alt="Fondo de la sección" class="w-full" />
      <div class="rectangle absolute bottom-0 left-0"></div>
      <div class="triangle absolute bottom-0 left-[72px]"></div>
      <div class="triangle2 absolute bottom-0 left-0 xl:-right-[1px]"></div>
    </div>
    <div class="relative flex-1">
      <p
        class="relative mx-auto mb-8 mt-8 max-w-3xl text-pretty text-center text-xl leading-none text-black-500 lg:max-w-md"
      >
        Ofrecemos asesoramiento integral para estudiantes en la estructuración,
        desarrollo y finalización de
        <span class="font-bold text-primary-500"> tesis y proyectos </span>
        , asegurando que puedas cumplir tus objetivos académicos.
      </p>
      <ul
        class="absolute left-[296px] top-0 flex h-full w-fit flex-col justify-between gap-1 py-48 xl:left-[312px]"
      >
        <li
          class="relative flex w-[496px] -translate-x-48 flex-row-reverse items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">01</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Aprendizaje Guiado y Estructurado
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Recibe asesoría personalizada para comprender conceptos complejos
              y avanzar con confianza en tus proyectos.
            </p>
          </div>
        </li>
        <li
          class="relative flex -translate-x-16 flex-row-reverse items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">02</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Resolución de Dudas en Tiempo Real
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Aclara cualquier inquietud técnica con expertos en hardware,
              firmware, software e IoT, optimizando tu aprendizaje.
            </p>
          </div>
        </li>
        <li
          class="relative flex translate-x-16 flex-row-reverse items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">03</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Orientación en Proyectos Académicos
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Te ayudamos a desarrollar tesis, trabajos de investigación y
              proyectos prácticos con enfoque profesional.
            </p>
          </div>
        </li>
        <li
          class="relative flex -translate-x-16 flex-row-reverse items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">04</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Acceso a Conocimientos Actualizados
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Aprende sobre tecnologías de vanguardia y mejores prácticas
              utilizadas en la industria.
            </p>
          </div>
        </li>
        <li
          class="relative flex -translate-x-48 items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">05</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Preparación para el Mundo Laboral
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Desarrolla habilidades prácticas y técnicas clave para destacarte
              en el mercado y mejorar tu empleabilidad.
            </p>
          </div>
        </li>
        <div
          class="absolute -left-80 top-1/2 flex h-72 w-72 -translate-y-1/2 flex-col items-center justify-center gap-4 rounded-full bg-black-700 shadow-xl xl:-left-96"
        >
          <h3 class="text-center text-3xl font-bold text-white-200">
            Consultoría para Estudiantes
          </h3>
          <div class="relative mx-auto flex flex-col items-center">
            <a
              href="https://wa.link/fc3qb5"
              class="mx-auto rounded bg-primary-500 px-2 py-1 text-center text-sm font-light leading-base text-white-200 ring-1 ring-inset ring-primary-500 transition-all duration-200 hover:bg-primary-400 lg:text-lg xl:px-6 xl:text-xl"
              >Solicita una consultoría</a
            >
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>

<style>
  /* HTML: <div class="triangle"></div> */
  .rectangle {
    height: 100%;
    width: 72px;
    background: #fbfcfc80;
  }

  .triangle {
    height: 100%;
    aspect-ratio: 1/3;
    clip-path: polygon(0% 0, 100% 50%, 0% 100%);
    background: #fbfcfc80;
  }

  /* HTML: <div class="triangle2"></div> */
  .triangle2 {
    height: 100%;
    aspect-ratio: 1/3;
    clip-path: polygon(0% 0, 100% 50%, 0% 100%);
    background: #fbfcfc;
  }

  .stroke-text {
    -webkit-text-stroke: 2px #009e7e;
    background-color: linear-gradient(
      #006c57,
      #009e7e
    ); /* El gradiente que desees */
    color: transparent;
  }

  .text-gradient-green {
    background: linear-gradient(#006c57, #009e7e);
    color: transparent;
    -webkit-background-clip: text;
  }
</style>
