---
import PuzzleConsulting from "@src/Images/icons/PuzzleConsulting.astro";
import BgEnterpriseDesktop from "@src/Images/Consultoria/BgEnterpriseDesktop.webp";
import { Image } from "astro:assets";
---

<section class="hidden bg-white-100 lg:block">
  <div class="mx-auto flex max-w-7xl">
    <div class="relative aspect-auto h-fit w-3/5 max-w-4xl">
      <Image
        src={BgEnterpriseDesktop}
        alt="Fondo de la sección"
        class="w-full"
      />
      <div class="rectangle absolute bottom-0 right-0"></div>
      <div class="triangle absolute bottom-0 right-[72px]"></div>
      <div class="triangle2 absolute bottom-0 right-0 xl:-right-[1px]"></div>
    </div>
    <div class="relative flex-1">
      <p
        class="relative mx-auto mb-8 mt-8 max-w-3xl text-pretty text-center text-xl leading-none text-black-500 lg:max-w-md"
      >
        Nuestro servicio de consultoría para empresas y profesionales está
        diseñado para guiarte en la elección y el desarrollo de
        <span class="font-bold text-primary-500">
          soluciones técnicas adecuadas
        </span>
        , maximizando tu inversión y asegurando resultados eficaces.
      </p>
      <ul
        class="absolute right-[256px] top-0 flex h-full w-fit flex-col justify-between gap-1 py-48 xl:right-[312px]"
      >
        <li
          class="relative flex w-[496px] translate-x-48 items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">01</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Estrategias Personalizadas
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Recibe asesoría adaptada a las necesidades de tu empresa,
              optimizando procesos y recursos tecnológicos.
            </p>
          </div>
        </li>
        <li
          class="relative flex translate-x-16 items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">02</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Reducción de Costos y Tiempos
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Evita errores costosos con una planificación eficiente que mejora
              la rentabilidad y acelera la implementación.
            </p>
          </div>
        </li>
        <li
          class="relative flex -translate-x-16 items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">03</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Acceso a Expertos en Tecnología
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Obtén el respaldo de especialistas en hardware, firmware, software
              e IoT para tomar decisiones estratégicas.
            </p>
          </div>
        </li>
        <li
          class="relative flex translate-x-16 items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">04</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Innovación y Ventaja Competitiva
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Integra tecnologías avanzadas para optimizar operaciones y
              diferenciarte en el mercado
            </p>
          </div>
        </li>
        <li
          class="relative flex translate-x-48 items-center justify-center gap-4 xs:gap-6"
        >
          <PuzzleConsulting />
          <p class="stroke-text text-5xl font-bold">05</p>
          <div class="max-w-72">
            <h3 class="text-gradient-green text-base font-bold xs:text-xl">
              Crecimiento y Escalabilidad
            </h3>
            <p class="text-gradient-green text-sm font-light xs:text-base">
              Diseñamos soluciones sostenibles que facilitan la expansión y
              evolución de tu negocio.
            </p>
          </div>
        </li>
        <div
          class="absolute -right-64 top-1/2 flex h-64 w-64 -translate-y-1/3 flex-col items-center justify-center gap-4 rounded-full bg-black-700 shadow-xl xl:-right-96"
        >
          <h3 class="text-center text-3xl font-bold text-white-200">
            Consultoría para Empresas
          </h3>
          <div class="relative mx-auto flex flex-col items-center">
            <a
              href="https://wa.link/fc3qb5"
              class="mx-auto rounded bg-primary-500 px-2 py-1 text-center text-sm font-light leading-base text-white-200 ring-1 ring-inset ring-primary-500 transition-all duration-200 hover:bg-primary-400 lg:text-lg xl:px-6 xl:text-xl"
              >Solicita una consultoría</a
            >
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>

<style>
  /* HTML: <div class="triangle"></div> */
  .rectangle {
    height: 100%;
    width: 72px;
    background: #fbfcfc80;
  }

  .triangle {
    height: 100%;
    aspect-ratio: 1/3;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background: #fbfcfc80;
  }

  /* HTML: <div class="triangle2"></div> */
  .triangle2 {
    height: 100%;
    aspect-ratio: 1/3;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background: #fbfcfc;
  }

  .stroke-text {
    -webkit-text-stroke: 2px #009e7e;
    background-color: linear-gradient(
      #006c57,
      #009e7e
    ); /* El gradiente que desees */
    color: transparent;
  }

  .text-gradient-green {
    background: linear-gradient(#006c57, #009e7e);
    color: transparent;
    -webkit-background-clip: text;
  }
</style>
