---
import bgMobile from "@src/Images/Operation/HeroBg.avif";
import { Image } from "astro:assets";
---

<section class="bg-[#0D1016]">
  <div class="h-12 w-full"></div>
  <!-- Pequeño cuadro para bajar el resto del espacio que oculata la barra de navegación fija -->
  <div class="relative mx-auto h-full max-w-7xl py-12 sm:flex">
    <picture
      class="absolute top-0 z-0 aspect-[2/1] h-full w-full sm:bg-black-900"
    >
      <Image
        class="absolute h-full"
        src={bgMobile}
        alt="Imagen de fondo de alguien programando"
      />
    </picture>
    <div
      class="z-10 mx-auto max-w-2xl px-4 py-8 sm:relative sm:flex-1 sm:pb-44 lg:flex lg:items-center lg:justify-center lg:pb-8"
    >
      <hgroup class="lg:max-w-2xl">
        <h3
          class="relative mb-8 text-center text-5xl font-bold leading-tight text-white-50 xs:text-6xl xl:text-7xl"
        >
          Consultoría Personalizada para Empresas, Profesionales y Estudiantes
        </h3>
        <p
          class="relative mb-12 text-center text-base leading-tight tracking-tight text-white-600 xs:text-xl lg:max-w-3xl lg:font-light xl:text-2xl"
        >
          Brindamos asesoría especializada en hardware, firmware, software e
          IoT, adaptándonos a las necesidades de cada cliente. Guiamos proyectos
          desde la idea hasta la implementación, optimizando procesos y
          soluciones tecnológicas que buscan innovar y potenciar sus
          conocimientos.
        </p>
        <div class="grid place-content-center">
          <a
            href="https://wa.link/fc3qb5"
            target="_blank"
            class="relative rounded bg-primary-500 px-8 py-4 text-center text-sm font-light leading-base text-white-200 ring-1 ring-inset ring-primary-500 transition-all duration-200 hover:bg-primary-400 sm:px-8 lg:text-lg xl:px-12 xl:text-xl"
            >¡Solicita tu consultoría!</a
          >
        </div>
      </hgroup>
    </div>
  </div>
</section>
