---
import type { GetStaticPaths } from "astro";
import Layout from "@src/layouts/Layout.astro";
import Hero from "@src/components/Course/Hero.astro";
import Info from "@src/components/Course/Info.astro";
import Temario from "@src/components/Course/Temario.astro";
import Kit from "@src/components/Course/Kit.astro";
import Projects from "@src/components/Course/Projects.astro";
import OtherCourses from "@src/components/Course/OtherCourses.astro";
import { getCollection } from "astro:content";

const { course } = Astro.params;

export async function getStaticPaths() {
  const courseEntries = await getCollection("courses");

  return courseEntries.map((entry) => ({
    params: {
      carrera: entry.id.split("/")[0],
      course: entry.id.split("/")[1],
    },
  }));
  // return [{ params: { carrera: "embebido", course: "ansi-c" } }];
}
---

<Layout title={course}>
  <Hero />
  <div class="mx-auto max-w-7xl lg:flex">
    <Info />
    <Temario />
  </div>
  <Kit />
  <Projects />
  <!-- <OtherCourses /> -->
</Layout>
