<li class="invisible absolute">
  <p class="mb-4 font-light text-black-500">
    Soluciona todas tus dudas acerca del curso.
  </p>
  <ul class="flex flex-col gap-3">
    <details open>
      <summary
        class="cursor-pointer rounded-lg border border-white-600 bg-white-200 px-5 py-3"
      >
        ¿Qué tipo de cursos ofrecen?
      </summary>
      <p class="mt-2 font-light leading-tight text-black-500">
        Ofrecemos cursos de programación, diseño, marketing y más para que
        puedas aprender lo que más te gusta. Si tienes alguna duda, no dudes en
        contactarnos.
      </p>
    </details>
    <details>
      <summary
        class="cursor-pointer rounded-lg border border-white-600 bg-white-200 px-5 py-3"
      >
        ¿Qué tipo de cursos ofrecen?
      </summary>
      <p class="mt-2 font-light leading-tight text-black-500">
        Ofrecemos cursos de programación, diseño, marketing y más para que
        puedas aprender lo que más te gusta. Si tienes alguna duda, no dudes en
        contactarnos.
      </p>
    </details>
    <details>
      <summary
        class="cursor-pointer rounded-lg border border-white-600 bg-white-200 px-5 py-3"
      >
        ¿Qué tipo de cursos ofrecen?
      </summary>
      <p class="mt-2 font-light leading-tight text-black-500">
        Ofrecemos cursos de programación, diseño, marketing y más para que
        puedas aprender lo que más te gusta. Si tienes alguna duda, no dudes en
        contactarnos.
      </p>
    </details>
    <details>
      <summary
        class="cursor-pointer rounded-lg border border-white-600 bg-white-200 px-5 py-3"
      >
        ¿Qué tipo de cursos ofrecen?
      </summary>
      <p class="mt-2 font-light leading-tight text-black-500">
        Ofrecemos cursos de programación, diseño, marketing y más para que
        puedas aprender lo que más te gusta. Si tienes alguna duda, no dudes en
        contactarnos.
      </p>
    </details>
  </ul>
</li>
