---
import { Image } from "astro:assets";
import kitBase from "@src/Images/Courses/KitBase.png";
import Cart from "@src/Images/icons/Cart.astro";
import KitTitle from "./Sections/KitTitle.astro";
import KitInfo from "./Sections/KitInfo.astro";
---

<section class="bg-white-500">
  <div class="mx-auto max-w-7xl px-7 py-16">
    <KitTitle />
    <div class="lg:flex lg:items-center lg:gap-12">
      <Image
        src={kitBase}
        alt="Kit de Desarrollo"
        class="mx-auto mb-16 lg:flex-1 lg:object-center"
      />
      <KitInfo />
    </div>
  </div>
</section>
