---
import { Image } from "astro:assets";
import kitBase from "@src/Images/Courses/KitBase.png";
import { kitsImages } from "@src/data/Kits.ts";
import KitTitle from "./Sections/KitTitle.astro";
import KitInfo from "./Sections/KitInfo.astro";
import { getEntry } from "astro:content";

const { carrera, course } = Astro.params;

const specificCourse = await getEntry("courses", `${carrera}/${course}`);
const { bgCourseCard } = specificCourse?.data || {};
---

<section class="bg-white-500">
  <div class="mx-auto max-w-7xl px-7 py-16">
    <KitTitle />
    <div class="lg:flex lg:items-center lg:gap-12">
      <Image
        src={kitsImages[bgCourseCard as keyof typeof kitsImages]}
        alt="Kit de Desarrollo"
        class="mx-auto mb-16 w-96 lg:flex-1 lg:object-center"
      />
      <KitInfo />
    </div>
  </div>
</section>
