---
import { Image } from "astro:assets";
import kitBase from "@src/Images/Courses/KitBase.png";
import Cart from "@src/Images/icons/Cart.astro";
---

<section class="bg-white-500">
  <div class="px-7 py-16">
    <h2 class="mb-12 text-3xl font-bold leading-tight text-primary-500">
      Kit de Desarrollo Esencial para el Curso
    </h2>
    <Image src={kitBase} alt="Kit de Desarrollo" class="mb-16" />
    <p class="mb-6 font-light leading-tight text-black-500">
      Para aprovechar al máximo este curso y desarrollar tus proyectos de manera
      práctica, necesitarás nuestro
      <span class="font-normal text-black-500">
        kit de desarrollo especializado.
      </span>
      Este kit incluye todos los componentes y herramientas necesarias para llevar
      a cabo cada proyecto de forma eficaz y sin complicaciones.
    </p>
    <ol class="mb-6">
      <p class="mb-2 text-xl text-black-500">¿Qué incluye el Kit?</p>

      <li class="mb-3">
        <header class="text-primary-500">
          <span class="inline-block w-4"> 1. </span>
          <span> Microcontrolador - STM32 </span>
        </header>
        <p class="pl-5 font-light leading-tight text-black-500">
          Un microcontrolador programable que será el núcleo de tus proyectos de
          software embebido. Ideal para desarrollar sistemas de control,
          sensores, y comunicación.
        </p>
      </li>
      <li class="mb-3">
        <header class="text-primary-500">
          <span class="inline-block w-4"> 2. </span>
          <span> Conjunto de Sensores y Actuadores </span>
        </header>
        <p class="pl-5 font-light leading-tight text-black-500">
          Sensores de temperatura, presión, luz, y actuadores como motores y
          relés, que te permitirán interactuar con el entorno y crear sistemas
          funcionales.
        </p>
      </li>
      <li class="mb-3">
        <header class="text-primary-500">
          <span class="inline-block w-4"> 3. </span>
          <span> Kit de Programación </span>
        </header>
        <p class="pl-5 font-light leading-tight text-black-500">
          Incluye un cable USB y herramientas de programación para cargar y
          depurar tus programas en el microcontrolador.
        </p>
      </li>
      <li class="mb-3">
        <header class="text-primary-500">
          <span class="inline-block w-4"> 4. </span>
          <span> Cables de Conexión y Protoboard </span>
        </header>
        <p class="pl-5 font-light leading-tight text-black-500">
          Cables de alta calidad y una protoboard para realizar las conexiones y
          pruebas necesarias durante tus prácticas.
        </p>
      </li>
    </ol>
    <footer class="flex items-end justify-start">
      <span class="flex flex-row items-end gap-3">
        <div class="flex flex-row-reverse items-end gap-1">
          <span class="text-sm text-black-300 line-through">
            $ 100.25
            <span class="text-sm">USD</span>
          </span>
          <a
            href="#"
            class="flex h-fit items-center gap-1 rounded border border-primary-500 bg-primary-500 py-4 pl-5 pr-6"
          >
            <Cart fill="#FBFCFC" />
            <span class="text-sm text-white-100"
              >$ 850.25 <span class="text-sm text-[#FFF]">USD</span></span
            >
          </a>
        </div>

        <a
          href=""
          class="rounded border border-black-300 px-6 py-3 text-black-300"
          >Ir a tienda</a
        >
      </span>
    </footer>
  </div>
</section>
