---
import Check from "@src/Images/icons/Check.astro";
---

<li class="invisible absolute">
  <p class="font-light leading-tight text-black-900">
    Al finalizar el curso, habrás desarrollado un perfil profesional con
    conocimientos y habilidades especializadas en el área de
    <span class="font-normal">
      Desarrollo de Software Embebido con Microcontroladores
    </span>
    , preparándote para enfrentar retos en diversas industrias tecnológicas y mejorar
    tus oportunidades laborales.
  </p>
  <ul class="mb-6">
    <p class="mb-3 font-normal text-[#000]">Competencias clave</p>
    <li class="mb-1 flex items-start gap-1">
      <div class="grid h-5 w-5 place-content-center pt-1">
        <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
        <Check />
      </div>
      <span class="flex flex-col">
        <span class="font-regular text-black-500"
          >Diseño de Sistemas Embebidos</span
        >
        <span class="font-light text-black-500"
          >Capacitado para diseñar y desarrollar sistemas embebidos optimizados.</span
        >
      </span>
    </li>
    <li class="mb-1 flex items-start gap-1">
      <div class="grid h-5 w-5 place-content-center pt-1">
        <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
        <Check />
      </div>
      <span class="flex flex-col">
        <span class="font-regular text-black-500"
          >Programación Avanzada de Microcontroladores
        </span>
        <span class="font-light text-black-500"
          >Habilidad para programar y configurar microcontroladores en distintos
          entornos.</span
        >
      </span>
    </li>
    <li class="mb-1 flex items-start gap-1">
      <div class="grid h-5 w-5 place-content-center pt-1">
        <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
        <Check />
      </div>
      <span class="flex flex-col">
        <span class="font-regular text-black-500"
          >Diagnóstico y Solución de Problemas</span
        >
        <span class="font-light text-black-500">
          Competencias en la detección y solución de fallas en sistemas
          embebidos.</span
        >
      </span>
    </li>
  </ul>
  <ul class="mb-6">
    <p class="mb-3 font-normal text-[#000]">Áreas de aplicación</p>
    <li class="mb-1 flex items-start gap-1">
      <div class="grid h-5 w-5 place-content-center pt-1">
        <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
        <Check />
      </div>
      <span class="flex flex-col">
        <span class="font-regular text-black-500">Automotriz</span>
        <span class="font-light text-black-500"
          >Participación en el diseño de sistemas de control y monitoreo
          automotriz.</span
        >
      </span>
    </li>
    <li class="mb-1 flex items-start gap-1">
      <div class="grid h-5 w-5 place-content-center pt-1">
        <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
        <Check />
      </div>
      <span class="flex flex-col">
        <span class="font-regular text-black-500">Industria Médica </span>
        <span class="font-light text-black-500"
          >Desarrollo de dispositivos médicos integrados para monitoreo y
          diagnóstico.</span
        >
      </span>
    </li>
    <li class="mb-1 flex items-start gap-1">
      <div class="grid h-5 w-5 place-content-center pt-1">
        <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
        <Check />
      </div>
      <span class="flex flex-col">
        <span class="font-regular text-black-500"
          >Internet de las Cosas (IoT)</span
        >
        <span class="font-light text-black-500">
          Implementación de soluciones IoT en diferentes plataformas y
          dispositivos conectados.</span
        >
      </span>
    </li>
  </ul>
  <ul class="mb-6">
    <p class="mb-3 font-normal text-[#000]">Oportunidades laborales</p>
    <li class="mb-1 flex items-center gap-1">
      <div class="grid h-5 w-5 place-content-center">
        <Check />
      </div>
      <span class="text-[#000]">Ingeniero en Sistemas Embebidos</span>
    </li>
    <li class="mb-1 flex items-center gap-1">
      <div class="grid h-5 w-5 place-content-center">
        <Check />
      </div>
      <span class="text-[#000]">Desarrollador IoT</span>
    </li>
    <li class="mb-1 flex items-center gap-1">
      <div class="grid h-5 w-5 place-content-center">
        <Check />
      </div>
      <span class="text-[#000]">Especialista en Automatización y Control</span>
    </li>
  </ul>
</li>
