---
import ProjectCardContainer from "../Carreras/ProjectCardContainer.astro";
---

<section>
  <div class="mx-auto max-w-7xl px-7 py-16">
    <header class="mb-12">
      <h2
        class="mb-8 text-center text-3xl font-bold leading-10 text-secondary-500 xs:text-[40px]"
      >
        Proyectos del curso
      </h2>
      <p class="text-center text-base leading-tight text-black-500 sm:text-xl">
        Desarrolla proyectos prácticos que te permitirán aplicar cada concepto
        aprendido y adquirir experiencia real en sistemas embebidos
      </p>
    </header>
    <ProjectCardContainer />
    <p class="mb-6 text-center text-primary-500">
      Descubre más sobre los proyectos y empieza a construir el futuro con
      nosotros.
    </p>
    <p class="grid place-content-center">
      <a
        href="#"
        class="inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
        >Explora nuestros cursos</a
      >
    </p>
  </div>
</section>
