---
import TemarioModulo from "./Sections/TemarioModulo.astro";
---

<section class="lg:max-w-md">
  <div class="px-7 py-6">
    <TemarioModulo startOpen={true} />
    <TemarioModulo />
  </div>
</section>
