---
import ArrowUp from "@src/Images/icons/ArrowUp.astro";
---

<section>
  <div class="px-14 py-6">
    <details open class="transition-all duration-300">
      <summary
        class="flex items-center justify-between py-3 text-xl font-bold text-primary-500"
      >
        <span> Módulo 01 </span>
        <ArrowUp fill="#C40B2A" width="32" height="32" />
      </summary>
      <div class="border-b border-black-100 bg-white-400 p-4">
        <ul>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 01: Introducción a la programación
            </header>
            <p class="font-light leading-tight text-black-800">
              Iniciando en el mundo de la automatización industrial: Qué es la
              automatización industrial, qué es el PLC y los equipos más usados
              en la industria (HMI, VDF, Servomotor, etc).
            </p>
          </li>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 02: Protocolo IP, Protecciones, Conexión física,
              Configuración e implementación PLC S7-1200
            </header>
            <p class="font-light leading-tight text-black-800">
              ¿Qué es el protocolo de internet (IP), máscara de subred? ¿Cuál es
              su importancia en la automatización industrial para evitar fallos
              en los equipos?
            </p>
          </li>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 03: Temporizadores, Contadores y uso del Factory IO
            </header>
            <p class="font-light leading-tight text-black-800">
              Iniciando en el mundo de la automatización industrial: Qué es la
              automatización industrial, qué es el PLC y los equipos más usados
              en la industria (HMI, VDF, Servomotor, etc).
            </p>
          </li>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 04: Programación a través de la metodología de máquinas de
              estados
            </header>
            <p class="font-light leading-tight text-black-800">
              Iniciando en el mundo de la automatización industrial: Qué es la
              automatización industrial, qué es el PLC y los equipos más usados
              en la industria (HMI, VDF, Servomotor, etc).
            </p>
          </li>
          <li class="font-medium leading-tight text-black-500">+ 08 Temas</li>
        </ul>
      </div>
    </details>
    <details class="transition-all duration-300">
      <summary
        class="flex items-center justify-between py-3 text-xl font-bold text-primary-500"
      >
        <span> Módulo 02 </span>
        <ArrowUp fill="#C40B2A" width="32" height="32" />
      </summary>
      <div class="border-b border-black-100 bg-white-400 p-4">
        <ul>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 01: Introducción a la programación
            </header>
            <p class="font-light leading-tight text-black-800">
              Iniciando en el mundo de la automatización industrial: Qué es la
              automatización industrial, qué es el PLC y los equipos más usados
              en la industria (HMI, VDF, Servomotor, etc).
            </p>
          </li>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 02: Protocolo IP, Protecciones, Conexión física,
              Configuración e implementación PLC S7-1200
            </header>
            <p class="font-light leading-tight text-black-800">
              ¿Qué es el protocolo de internet (IP), máscara de subred? ¿Cuál es
              su importancia en la automatización industrial para evitar fallos
              en los equipos?
            </p>
          </li>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 03: Temporizadores, Contadores y uso del Factory IO
            </header>
            <p class="font-light leading-tight text-black-800">
              Iniciando en el mundo de la automatización industrial: Qué es la
              automatización industrial, qué es el PLC y los equipos más usados
              en la industria (HMI, VDF, Servomotor, etc).
            </p>
          </li>
          <li class="mb-4">
            <header class="mb-3 font-medium leading-tight text-black-500">
              Temario 04: Programación a través de la metodología de máquinas de
              estados
            </header>
            <p class="font-light leading-tight text-black-800">
              Iniciando en el mundo de la automatización industrial: Qué es la
              automatización industrial, qué es el PLC y los equipos más usados
              en la industria (HMI, VDF, Servomotor, etc).
            </p>
          </li>
          <li class="font-medium leading-tight text-black-500">+ 08 Temas</li>
        </ul>
      </div>
    </details>
  </div>
</section>
