---
import { Image } from 'astro:assets';

const { course } = Astro.props;
---

<section class="">
	<ul class="grid grid-cols-4">
		{course.fotos.map((foto: any) => <Image src={foto.src} alt="Foto1" />)}
	</ul>
</section>
