---
import { Image } from 'astro:assets';
import expo1 from '@/assets/Course/expo1.webp';
import expo2 from '@/assets/Course/expo2.webp';
import expo3 from '@/assets/Course/expo3.webp';
import expo4 from '@/assets/Course/expo4.webp';
---

<section class="">
	<ul class="grid grid-cols-4">
		<Image src={expo1} alt="Foto1" />
		<Image src={expo2} alt="Foto1" />
		<Image src={expo3} alt="Foto1" />
		<Image src={expo4} alt="Foto1" />
	</ul>
</section>
