---
const { description } = Astro.props;
---

<p
  class="mb-16 leading-tight tracking-tight text-white-50 xs:text-xl lg:mb-24 lg:max-w-3xl lg:font-light xl:mb-24 xl:text-xl xl:tracking-normal"
>
  {description}
</p>
