---
const { title, subtitle } = Astro.props;
---

<hgroup>
  <h3
    class="relative mb-2 text-4xl font-bold text-white-50 xs:text-5xl xl:text-7xl"
  >
    {title}
    <span class="absolute bottom-0 left-0 h-[2px] w-full bg-primary-400">
      <span class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-primary-400">
      </span>
    </span>
  </h3>
  <p
    class="mb-6 text-base leading-tight tracking-tight text-white-600 xs:text-xl lg:max-w-3xl lg:font-light xl:text-2xl"
  >
    {subtitle}
  </p>
</hgroup>
