<hgroup class="">
  <h2
    id="SpecialitesTitle"
    class="mb-6 text-center text-[40px] font-bold leading-tight text-secondary-400"
  >
    Servicios Especializados para Impulsar tu Proyecto
  </h2>
  <p
    class="line-height-xl relative z-50 mb-12 max-w-3xl text-pretty text-center text-xl leading-tight text-black-500"
  >
    Soluciones dise침adas a medida para cada necesidad tecnol칩gica, contamos con
    una variedad de servicios para acompa침arte en el desarrollo de tus proyectos
    tecnol칩gicos.
  </p>
</hgroup>
