---
import { getEntry } from "astro:content";
import ServiceCard from "./ServiceCard.astro";

const { service } = Astro.params;
const specificService = await getEntry("services", `${service}`);
const { services } = specificService?.data || { services: [] }; // Aseguramos que services sea un array vacío en caso de null o undefined
---

<ul
  class="mx-auto mb-8 flex max-w-7xl snap-x snap-mandatory gap-8 overflow-x-auto p-2 lg:h-fit lg:flex-wrap lg:justify-center lg:gap-10 lg:overflow-visible"
>
  {services.length > 0 ? (
    services.map((service) => (
      <ServiceCard
        title={service.title}
        description={service.description}
      />
    ))
  ) : (
    <li>No hay servicios disponibles.</li> // Mensaje si no hay servicios
  )}
</ul>
