---
import Chip from "@src/Images/icons/Chip.astro";
import GoalSpecialite from "../Atoms/GoalSpecialite.astro";
import { getEntry } from "astro:content";

const { carrera } = Astro.params;
const specificCarrer = await getEntry("carrers", `${carrera}`);

const { title, description, goals } = specificCarrer?.data || {};
---

<div class="z-10 px-6 pb-16 pt-12 md:relative md:py-8 md:pb-44">
  <div class="mb-1 grid h-10 w-10 place-content-center">
    <Chip fill="#E9EAEB" width="40" height="40" />
  </div>
  <hgroup>
    <h3 class="mb-2 text-3xl font-bold text-white-50 xs:text-5xl">
      {title}
    </h3>
    <p
      class="mb-6 text-base leading-tight tracking-tight text-white-200 xs:text-xl lg:max-w-3xl lg:font-light"
    >
      {description}
    </p>
  </hgroup>
  <ul class="mb-6 pl-4">
    <h4 class="relative mb-3 text-xl font-bold text-white-200 lg:max-w-xl">
      Objetivos de la línea de carrera
      <span class="absolute bottom-0 left-0 h-[2px] w-4/5 bg-primary-400">
        <span
          class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-primary-400"
        >
        </span>
      </span>
    </h4>
    {goals?.map((goal: string) => <GoalSpecialite goal={goal} />)}
  </ul>
  <hgroup class="mb-4 pl-4">
    <h4 class="relative mb-3 text-xl font-bold text-white-300 lg:max-w-2xl">
      Ruta Recomendada para esta línea de carrera
      <span class="absolute bottom-0 left-0 h-[2px] w-full bg-primary-400">
        <span
          class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-primary-400"
        >
        </span>
      </span>
    </h4>
    <p class="text-base leading-5 tracking-tight text-white-300 lg:max-w-2xl">
      Te sugerimos seguir una secuencia estructurada de aprendizaje que abarca
      desde fundamentos hasta proyectos avanzados, asegurando que desarrolles
      las competencias necesarias para diseñar soluciones a medida para
      distintos campos de la industria.
    </p>
  </hgroup>
  <a
    href="/soon"
    class="ml-4 inline-block rounded border border-white-300 px-4 py-2 text-white-300 transition-colors duration-200 hover:bg-white-300 hover:text-black-900"
    >Ver ruta</a
  >
</div>
