---
import PlansBestOption from "./PlansBestOption.astro";
import PlansOption from "./PlansOption.astro";
---

<div class="lg:mb-12 lg:flex lg:justify-center lg:gap-32">
  <PlansBestOption />
  <PlansOption />
</div>
