<hgroup>
  <h2
    class="mb-6 text-center text-[40px] font-bold leading-none text-secondary-400 md:mb-4 md:leading-normal"
  >
    Proyectos Tecnológicos Personalizados en Diversos Sectores
  </h2>
  <p
    class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl text-black-500"
  >
    Nuestras soluciones han impactado en múltiples sectores, desde la industria
    minera hasta la agroindustria, con tecnología avanzada y personalización
    total.
  </p>
</hgroup>
