---
import SolutionHWBenefitsContainer from "./SolutionHWBenefitsContainer.astro";
import SolutionHWBottomText from "./SolutionHWBottomText.astro";
---

<h3
  class="relative mb-6 px-7 text-center text-3xl font-bold text-black-500 md:px-8"
>
  Beneficios de implementar una Solución de Hardware
  <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
</h3>
<SolutionHWBenefitsContainer />
<SolutionHWBottomText />
