---
import SolutionIoTBenefitsContainer from "./SolutionIoTBenefitsContainer.astro";
import SolutionIoTBottomText from "./SolutionIoTBottomText.astro";
---

<h3
  class="relative mb-6 px-7 text-center text-3xl font-bold text-black-500 md:px-8"
>
  Beneficios de implementar una Solución de IoT a Medida
  <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
</h3>
<SolutionIoTBenefitsContainer />
<SolutionIoTBottomText />
