<div class="mx-auto my-12 flex flex-col items-center">
  <span
    class="z-10 mb-4 text-pretty text-center text-xl text-primary-400 drop-shadow-xl lg:text-2xl"
  >
    ¿Listo para el futuro conectado?</span
  >
  <span
    class="z-10 mb-6 text-pretty text-center text-black-700 drop-shadow-xl lg:text-lg"
  >
    Conecta tu negocio al futuro con soluciones de Hardware personalizadas.</span
  >
  <a
    href="/servicio-hardware"
    class="mx-auto rounded bg-primary-500 px-8 py-4 text-center text-sm font-light leading-base text-white-200 ring-1 ring-inset ring-primary-500 transition-all duration-200 hover:bg-primary-400 sm:px-8 lg:text-lg xl:px-12 xl:text-xl"
    >Ir a solución</a
  >
</div>

<!-- href="https://wa.link/fc3qb5" -->
