---
import SolutionHardwareImage from "@src/Images/Home/SolutionHardwareImage.webp";
import { Image } from "astro:assets";
import SolutionsHardwareHero from "./SolutionsHardwareHero.astro";
---

<div
  class="relative mb-16 bg-white-500 lg:flex lg:flex-row-reverse lg:items-start lg:justify-center"
>
  <Image
    src={SolutionHardwareImage}
    width={480}
    alt={"Imagen de soluciones de hardware"}
    class="absolute h-full w-full object-cover lg:relative lg:h-full lg:w-auto"
  />
  <div class="absolute inset-0 bg-[#18181B75] lg:hidden"></div>
  <SolutionsHardwareHero />
</div>
