---
import AcentBottomText from "../Atoms/AcentBottomText.astro";
import CardSpecialiteContainer from "./CardSpecialiteContainer.astro";
import SpecialitesTitle from "./SpecialitesTitle.astro";
---

<div class="flex flex-col items-center">
  <SpecialitesTitle />
  <CardSpecialiteContainer />
  <AcentBottomText />
</div>
