<hgroup class="">
  <h2
    id="SpecialitesTitle"
    class="mb-6 text-center text-[40px] font-bold leading-tight text-secondary-400"
  >
    Explora Nuestras Especialidades
  </h2>
  <p
    class="line-height-xl relative z-50 mb-12 max-w-3xl text-pretty text-center text-xl leading-tight text-black-500"
  >
    Cada una de nuestras líneas ofrece diversos cursos y especializaciones
    diseñados para adquirir habilidades clave en diversas áreas tecnológicas de
    alta demanda.
  </p>
</hgroup>
