---
import UbicationDetails from "./UbicationDetails.astro";
import UbicationForm from "./UbicationForm.astro";
---

<div
  class="mx-auto flex max-w-[600px] flex-col lg:grid lg:max-w-none lg:grid-cols-2"
>
  <UbicationForm />
  <UbicationDetails />
</div>
