<form
  class="mb-12 flex w-full flex-col justify-between justify-self-center rounded-lg p-6 shadow-[0px_0px_24px_10px_#18181B30] lg:mb-0 lg:w-[416px] lg:p-10"
  action=""
>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col">
      <label for="name" class="h-5 text-black-500">Nombres:*</label>
      <input
        type="text"
        id="name"
        name="name"
        class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
      />
    </div>
    <div class="flex flex-col">
      <label for="email" class="h-5 text-black-500">Correo:*</label>
      <input
        type="email"
        id="email"
        name="email"
        class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
      />
    </div>
    <div class="flex flex-col">
      <label for="email" class="h-5 text-black-500">Celular:*</label>
      <input
        type="email"
        id="email"
        name="email"
        class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
      />
    </div>
    <div class="flex flex-col">
      <label for="email" class="h-5 text-black-500">Asunto:*</label>
      <input
        type="email"
        id="email"
        name="email"
        class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="message" class="h-5 text-black-500">Mensaje</label>
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        class="h-24 rounded border-2 border-[#94A3B8] px-2 py-2"></textarea>
    </div>
  </div>
  <div>
    <button
      type="submit"
      class="mt-8 h-14 w-full rounded bg-primary-500 px-8 py-4 text-base text-white-200 hover:bg-primary-400 lg:mt-0"
    >
      Enviar mensaje
    </button>
  </div>
</form>
