---
import Clock from "@src/Images/icons/Clock.astro";
import Mail from "@src/Images/icons/Mail.astro";
import Mobile from "@src/Images/icons/Mobile.astro";
import PinMap from "@src/Images/icons/PinMap.astro";
---

<div class="lg:max-w-[600px]">
  <p class="mb-6 text-pretty text-center text-xl text-black-500 lg:mb-4">
    Nos encantaría escucharte. Ya sea que tengas preguntas sobre nuestros
    cursos, soluciones o quieras solicitar una consultoría, no dudes en
    escribirnos.
  </p>
  <ul
    class="mb-4 grid grid-cols-1 grid-rows-4 gap-2 lg:grid-cols-2 lg:grid-rows-2"
  >
    <li class="flex items-center gap-1">
      <Mobile fill="#1F2937" />
      <span class="text-base font-light text-black-500"> +51 970 570 927 </span>
    </li>
    <li class="flex items-center gap-1">
      <PinMap fill="#1F2937" />
      <span class="text-base font-light text-black-500">
        Av Perú 1716 SMP, Lima – Perú
      </span>
    </li>
    <li class="flex items-center gap-1">
      <Mail fill="#1F2937" />
      <span class="text-base font-light text-black-500">
        proyectos.smartelec@gmail.com
      </span>
    </li>
    <li class="flex items-center gap-1">
      <Clock fill="#1F2937" />
      <span class="text-base font-light text-black-500">
        Lunes a Sábado de 09:00 am - 07:00 pm
      </span>
    </li>
  </ul>
  <div class="overflow-hidden rounded-lg">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.1658807614326!2d-77.06638992485819!3d-12.032098588203555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf860eb500ad%3A0x79a9fd3a562173cb!2sMMJ%20SMART%20ELECTRONICS%20SAC!5e0!3m2!1ses!2spe!4v1730001477258!5m2!1ses!2spe"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
