<hgroup>
  <h2
    class="mb-4 text-center text-[40px] font-bold leading-tight text-secondary-400 md:leading-normal"
  >
    Únete a Nuestro Equipo y Haz la Diferencia
  </h2>
  <p
    class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl leading-7 text-black-500 md:leading-normal"
  >
    ¿Estás listo para compartir tu experiencia o colaborar en proyectos
    innovadores? ¡Te estamos buscando!
  </p>
</hgroup>
