---
import HeroInfo from "./Sections/HeroInfo.astro";
import HeroImage from "./Sections/HeroImage.astro";
---

<section class="lg:bg-[#11171E]">
  <div class="h-12 w-full"></div>
  <!-- Pequeño cuadro para bajar el resto del espacio que oculata la barra de navegación fija -->
  <div class="relative mx-auto max-w-7xl overflow-x-hidden sm:flex">
    <HeroImage />
    <HeroInfo />
  </div>
</section>
