---
import bgEmbebido from "@src/Images/Carreras/HeroBg.avif";
import bgMobile from "@src/Images/Servicios/bgMobile.avif";
import bgDesktop from "@src/Images/Servicios/bgDesktop.avif";
import { Image } from "astro:assets";
import HeroInfo from "./Sections/HeroInfo.astro";
import HeroImage from "./Sections/HeroImage.astro";

const bgImages = {
  embebido: {
    mobile: bgEmbebido,
    desktop: bgDesktop,
  },
};
---

<section class="lg:bg-[#11171E]">
  <div class="h-12 w-full"></div>
  <!-- Pequeño cuadro para bajar el resto del espacio que oculata la barra de navegación fija -->
  <div class="relative mx-auto max-w-7xl overflow-x-hidden sm:flex">
    <HeroImage />
    <HeroInfo />
  </div>
</section>
