---
import BottomText from "./Atoms/BottomText.astro";
import ServicesContainer from "./Sections/ServicesContainer.astro";
import ServicesTitle from "./Sections/ServicesTitle.astro";
---

<section class="bg-white-500">
  <div
    class="relative mx-auto flex max-w-7xl flex-col items-center justify-between gap-16 px-7 py-16 md:px-8 lg:pt-32 xl:flex-row"
  >
    <div class="flex flex-col items-center">
      <ServicesTitle />
      <ServicesContainer />
      <BottomText
        text="¿Listo para potenciar tu proyecto con tecnología de vanguardia?"
      />
    </div>
  </div>
</section>
