---
import Check from "@src/Images/icons/Check.astro";
---

<ul class="mb-6">
  <p class="mb-3 font-light text-black-500">
    El estudiante tendrá acceso a la plataforma de aprendizaje con todo el
    material necesario:
  </p>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="font-light text-black-500">Guías</span>
  </li>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="font-light text-black-500">Tutoriales</span>
  </li>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="font-light text-black-500">Ejemplos de código</span>
  </li>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="font-light text-black-500"> Videos Explicativos </span>
  </li>
</ul>
