---
import Clock from "@src/Images/icons/Clock.astro";
import Flag from "@src/Images/icons/Flag.astro";
---

<p class="flex items-center justify-start pb-3">
  <span class="flex min-w-32 items-center gap-1 xs:min-w-48">
    <Flag />
    <span class="text-black-500"> País </span>
  </span>
  <span class="flex items-center gap-1">
    <Clock fill="#1F2937" width="20" height="20" stroke="1" />
    <span class="text-black-500"> Día y Hora </span>
  </span>
</p>
