---
import AcercaDeCertificado from "./AcercaDeCertificado.astro";
import AcercaDeHorario from "./AcercaDeHorario.astro";
import AcercaDeInfo from "./AcercaDeInfo.astro";
---

<li class="invisible absolute">
  <AcercaDeInfo />
  <AcercaDeHorario />
  <AcercaDeCertificado />
</li>
