---
import Check from "@src/Images/icons/Check.astro";
---

<ul class="mb-6">
  <p class="mb-3 font-light text-black-500">
    Se contar치 con soporte e interacci칩n, tendr치 acceso a:
  </p>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="font-light text-black-500">
      Canales de discusi칩n y consultas
    </span>
  </li>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="font-light text-black-500">
      Feedback por parte del docente
    </span>
  </li>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="font-light text-black-500">
      Sesiones de preguntas y respuestas del docente
    </span>
  </li>
</ul>
