---
import bgCertificado from "@src/Images/Courses/CertificadoGeneral.png";
import { Image } from "astro:assets";
---

<p>Obtén tu certificado con reconocimiento a nivel nacional</p>
<Image src={bgCertificado} alt="Imagen de un certificado otorgado por MMJ" />
