---
const { title, description } = Astro.props;
---

<header class="mb-6 lg:mb-2">
  <h1 class="mb-2 text-2xl font-bold leading-none text-black-500">
    {title}
    <!-- UwU -->
  </h1>
  <p class="text-sm font-light leading-tight text-black-500">
    {description}
  </p>
</header>
