<p class="mb-6 font-light leading-tight text-black-500">
  Para aprovechar al máximo este curso y desarrollar tus proyectos de manera
  práctica, necesitarás nuestro
  <span class="font-normal text-black-500">
    kit de desarrollo especializado.
  </span>
  Este kit incluye todos los componentes y herramientas necesarias para llevar a
  cabo cada proyecto de forma eficaz y sin complicaciones.
</p>
