---
import Cart from "@src/Images/icons/Cart.astro";
import KitInfoHeader from "./KitInfoHeader.astro";
import KitInfoContent from "./KitInfoContent.astro";
import KitInfoFooter from "./KitInfoFooter.astro";
---

<div class="lg:max-w-xl">
  <KitInfoHeader />
  <KitInfoContent />
  <KitInfoFooter />
</div>
