---
import Check from "@src/Images/icons/Check.astro";
---

<ul class="mb-6">
  <p class="mb-3 font-normal text-[#000]">Oportunidades laborales</p>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="text-[#000]">Ingeniero en Sistemas Embebidos</span>
  </li>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="text-[#000]">Desarrollador IoT</span>
  </li>
  <li class="mb-1 flex items-center gap-1">
    <div class="grid h-5 w-5 place-content-center">
      <Check />
    </div>
    <span class="text-[#000]">Especialista en Automatización y Control</span>
  </li>
</ul>
