---
import PerfilInfo from "./PerfilInfo.astro";
import PerfilCompetencias from "./PerfilCompetencias.astro";
import PerfilAreas from "./PerfilAreas.astro";
import PerfilOportunidades from "./PerfilOportunidades.astro";
---

<li class="invisible absolute">
  <PerfilInfo />
  <PerfilCompetencias />
  <PerfilAreas />
  <PerfilOportunidades />
</li>
