---
const { carrera } = Astro.params;
console.log(carrera);

const carrerTitle = {
  embebido: "Desarrollo de Software Embebido con Microcontroladores",
  hardware: "Desarrollo Web",
  iot: "Ciencia de Datos",
  software: "Ciberseguridad",
};
---

<p class="font-light leading-tight text-black-900">
  Al finalizar el curso, habr치s desarrollado un perfil profesional con
  conocimientos y habilidades especializadas en el 치rea de
  <span class="font-normal">
    {carrerTitle[carrera as keyof typeof carrerTitle]}.
  </span>
  , prepar치ndote para enfrentar retos en diversas industrias tecnol칩gicas y mejorar
  tus oportunidades laborales.
</p>
