---
import Check from "@src/Images/icons/Check.astro";
---

<ul class="mb-6">
  <p class="mb-3 font-normal text-[#000]">Competencias clave</p>
  <li class="mb-1 flex items-start gap-1">
    <div class="grid h-5 w-5 place-content-center pt-1">
      <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
      <Check />
    </div>
    <span class="flex flex-col">
      <span class="font-regular text-black-500"
        >Diseño de Sistemas Embebidos</span
      >
      <span class="font-light text-black-500"
        >Capacitado para diseñar y desarrollar sistemas embebidos optimizados.</span
      >
    </span>
  </li>
  <li class="mb-1 flex items-start gap-1">
    <div class="grid h-5 w-5 place-content-center pt-1">
      <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
      <Check />
    </div>
    <span class="flex flex-col">
      <span class="font-regular text-black-500"
        >Programación Avanzada de Microcontroladores
      </span>
      <span class="font-light text-black-500"
        >Habilidad para programar y configurar microcontroladores en distintos
        entornos.</span
      >
    </span>
  </li>
  <li class="mb-1 flex items-start gap-1">
    <div class="grid h-5 w-5 place-content-center pt-1">
      <!-- El pt-1 permite alinear correctamente, ya que sino el ícono queda muy arriba respecto al texto -->
      <Check />
    </div>
    <span class="flex flex-col">
      <span class="font-regular text-black-500"
        >Diagnóstico y Solución de Problemas</span
      >
      <span class="font-light text-black-500">
        Competencias en la detección y solución de fallas en sistemas embebidos.</span
      >
    </span>
  </li>
</ul>
