<p class="font-light leading-tight text-black-900">
  Al finalizar el curso, habr치s desarrollado un perfil profesional con
  conocimientos y habilidades especializadas en el 치rea de
  <span class="font-normal">
    Desarrollo de Software Embebido con Microcontroladores
  </span>
  , prepar치ndote para enfrentar retos en diversas industrias tecnol칩gicas y mejorar
  tus oportunidades laborales.
</p>
