---
import Warning from "@src/Images/icons/Warning.astro";
import { getEntry } from "astro:content";

const { carrera, course } = Astro.params;
const specificCourse = await getEntry("courses", `${carrera}/${course}`);
const { requisitoWarning } = specificCourse?.data || {};
---

<div class="mb-6 flex items-start gap-3">
  <div class="grid h-10 w-10 place-content-center pt-1">
    <!-- El pt-1 es para que quede correctamente alineado respecto al texto y no tan arriba -->
    <Warning />
  </div>
  <p class="font-light text-[#1F2937]">
    {requisitoWarning}
  </p>
</div>
