---
import Warning from "@src/Images/icons/Warning.astro";
---

<div class="mb-6 flex items-start gap-3">
  <div class="grid h-10 w-10 place-content-center pt-1">
    <!-- El pt-1 es para que quede correctamente alineado respecto al texto y no tan arriba -->
    <Warning />
  </div>
  <p class="font-light text-[#1F2937]">
    Se recomienda contar con un kit de desarrollo (como Arduino, STM32 o PIC),
    aunque no es obligatorio. Además, necesitarás instalar un IDE (como MPLAB,
    STM32CubeIDE, o Arduino IDE) para realizar las prácticas.
  </p>
</div>
