---
import AdquirirKitButton from "../Atoms/AdquirirKitButton.astro";
import RequisitosInfo from "./RequisitosInfo.astro";
import RequisitosRecomendacion from "./RequisitosRecomendacion.astro";
---

<li class="invisible absolute hidden">
  <RequisitosInfo />
  <RequisitosRecomendacion />
  <AdquirirKitButton />
  <!-- <section>
    <h6 class="mb-6 text-center text-black-900">
      Puedes revisar nuestra tienda
    </h6>
    <ul class="mb-6 flex snap-x snap-mandatory gap-12 overflow-x-auto">
      <ProductCard />
      <ProductCard />
      <ProductCard />
    </ul>
    <div class="grid place-content-center">
      <a
        href=""
        class="rounded border border-black-300 px-6 py-3 text-black-300"
        >Ir a tienda</a
      >
    </div>
  </section> -->
</li>
