---
import Layout from "@src/layouts/Layout.astro";
import Ubication from "@src/components/Home/Ubication.astro";
import ContactoBg from "@src/Images/Home/ContactoBg.avif";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return [
    { params: { service: "servicio-hardware", operation: "fabricacion-pcb" } },
  ];
}
---

<Layout title="Contacto MMJ">
  <section class="md:bg-black-900">
    <div class="h-12 w-full"></div>
    <!-- Pequeño cuadro para bajar el resto del espacio que oculata la barra de navegación fija -->
    <div class="relative mx-auto max-w-7xl overflow-x-hidden">
      <picture class="absolute z-0 h-full w-full">
        <Image
          class="absolute block h-full w-full object-cover"
          src={ContactoBg}
          alt="Imagen de fondo de alguien programando"
        />
      </picture>
      <div class="relative z-10 px-6 py-8">
        <div class="mb-1 grid h-10 w-10 place-content-center"></div>
        <hgroup>
          <h3
            class="mb-6 text-center text-3xl font-bold text-white-50 xs:text-5xl"
          >
            ¿Tienes alguna pregunta o necesitas más información?
          </h3>
          <p
            class="mx-auto mb-6 text-center text-base leading-tight tracking-tight text-white-200 xs:text-xl lg:max-w-3xl lg:font-light"
          >
            Nos encantaría escucharte. Ya sea que tengas preguntas sobre
            nuestros cursos, soluciones o quieras solicitar una consultoría, no
            dudes en escribirnos.
          </p>
        </hgroup>
      </div>
    </div>
  </section>

  <Ubication />
</Layout>
