---
import Durability from "@src/Images/icons/Durability.astro";
import Integration from "@src/Images/icons/Integration.astro";
import OptimizationResources from "@src/Images/icons/OptimizationResources.astro";
import Scalability from "@src/Images/icons/Scalability.astro";
---

<ul
  class="mx-auto mt-8 flex max-w-7xl snap-x snap-mandatory gap-8 overflow-x-auto p-2"
>
  <li
    class="flex h-64 w-72 min-w-72 snap-center flex-col justify-center overflow-y-auto rounded bg-white-100 p-4 px-5 py-5 shadow-[-8px_8px_0px_0px_#6E3C9F] outline outline-1 outline-white-600 md:h-52 md:flex-1"
  >
    <div class="grid place-content-center">
      <OptimizationResources />
    </div>
    <h3 class="mb-3 text-center text-xl leading-tight text-black-500">
      Monitoreo y Control Remoto
    </h3>
    <p
      class="text-center text-sm font-light leading-tight tracking-wide text-black-400"
    >
      Supervisa y gestiona dispositivos en tiempo real desde cualquier lugar,
      mejorando la eficiencia operativa.
    </p>
  </li>
  <li
    class="flex h-64 w-72 min-w-72 snap-center flex-col justify-center overflow-y-auto rounded bg-white-100 p-4 px-5 py-5 shadow-[-8px_8px_0px_0px_#33AF96] outline outline-1 outline-white-600 md:h-52 md:flex-1"
  >
    <div class="grid place-content-center">
      <Integration />
    </div>
    <h3 class="mb-3 text-center text-xl leading-tight text-black-500">
      Integración con la Nube
    </h3>
    <p
      class="text-center text-sm font-light leading-tight tracking-wide text-black-400"
    >
      Conectamos sensores y equipos a plataformas IoT para análisis avanzado y
      almacenamiento seguro de datos.
    </p>
  </li>
  <li
    class="flex h-64 w-72 min-w-72 snap-center flex-col justify-center overflow-y-auto rounded bg-white-100 p-4 px-5 py-5 shadow-[-8px_8px_0px_0px_#D03C55] outline outline-1 outline-white-600 md:h-52 md:flex-1"
  >
    <div class="grid place-content-center">
      <Durability />
    </div>
    <h3 class="mb-3 text-center text-xl leading-tight text-black-500">
      Automatización Inteligente
    </h3>
    <p
      class="text-center text-sm font-light leading-tight tracking-wide text-black-400"
    >
      Optimizamos procesos industriales con tecnología IoT, reduciendo costos y
      mejorando la productividad.
    </p>
  </li>
  <li
    class="flex h-64 w-72 min-w-72 snap-center flex-col justify-center overflow-y-auto rounded bg-white-100 p-4 px-5 py-5 shadow-[-8px_8px_0px_0px_#57A6B8] outline outline-1 outline-white-600 md:h-52 md:flex-1"
  >
    <div class="grid place-content-center">
      <Scalability />
    </div>
    <h3 class="mb-3 text-center text-xl leading-tight text-black-500">
      Seguridad y Escalabilidad
    </h3>
    <p
      class="text-center text-sm font-light leading-tight tracking-wide text-black-400"
    >
      Implementamos protocolos robustos para una conectividad segura y
      soluciones adaptadas al crecimiento de tu negocio.
    </p>
  </li>
</ul>
