---
import Serpentina from "@src/Images/icons/Serpentina.astro";
import ProcessBase from "@src/Images/Servicios/ProcessBase.png";
import { Image } from "astro:assets";

// Mucho cuidado con los 500 px, es un valor hardcodeado para funcionar correctamente, esto debe ser modificado en un futuro
---

<section class="bg-white-500">
  <div class="mx-auto max-w-7xl px-7 py-20 md:px-7">
    <hgroup>
      <h2
        class="mb-6 text-center text-[40px] font-bold leading-none text-black-500 md:mb-4 md:leading-normal"
      >
        Nuestro Proceso
      </h2>
      <p
        class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl text-black-500"
      >
        Cada solución de hardware se desarrolla mediante un proceso meticuloso
        que garantiza calidad y satisfacción en cada etapa.
      </p>
    </hgroup>

    <ul class="relative flex flex-col gap-16">
      <div
        class="absolute -top-16 left-0 right-0 mx-auto hidden overflow-x-hidden lg:block"
      >
        <Serpentina />
      </div>
      <li class="lg:mb-4 lg:flex lg:items-center lg:justify-between">
        <Image src={ProcessBase} alt="Proceso de MMJ" class="mx-auto mb-8" />
        <div class="mx-auto max-w-sm">
          <p
            class="mx-auto max-w-sm text-center text-4xl text-black-500 lg:text-start"
          >
            Consulta Inicial
          </p>
          <p
            class="mx-auto max-w-sm text-center text-xl font-light text-black-500 lg:text-start"
          >
            Escuchas tus necesidades y analizamos la viabilidad del proyecto
          </p>
        </div>
      </li>
      <!-- <li class="flex flex-row-reverse items-center justify-between lg:mb-8"> -->
      <li
        class="lg:mb-4 lg:flex lg:flex-row-reverse lg:items-center lg:justify-between"
      >
        <Image src={ProcessBase} alt="Proceso de MMJ" class="mx-auto mb-8" />
        <div class="mx-auto max-w-sm">
          <p
            class="mx-auto max-w-sm text-center text-4xl text-black-500 lg:text-start"
          >
            Consulta Inicial
          </p>
          <p
            class="mx-auto max-w-sm text-center text-xl font-light text-black-500 lg:text-start"
          >
            Escuchas tus necesidades y analizamos la viabilidad del proyecto
          </p>
        </div>
      </li>
      <li class="lg:mb-4 lg:flex lg:items-center lg:justify-between">
        <Image src={ProcessBase} alt="Proceso de MMJ" class="mx-auto mb-8" />
        <div class="mx-auto max-w-sm">
          <p
            class="mx-auto max-w-sm text-center text-4xl text-black-500 lg:text-start"
          >
            Consulta Inicial
          </p>
          <p
            class="mx-auto max-w-sm text-center text-xl font-light text-black-500 lg:text-start"
          >
            Escuchas tus necesidades y analizamos la viabilidad del proyecto
          </p>
        </div>
      </li>
      <li
        class="lg:mb-4 lg:flex lg:flex-row-reverse lg:items-center lg:justify-between"
      >
        <Image src={ProcessBase} alt="Proceso de MMJ" class="mx-auto mb-8" />
        <div class="mx-auto max-w-sm">
          <p class="text-center text-4xl text-black-500 lg:text-start">
            Consulta Inicial
          </p>
          <p
            class="text-center text-xl font-light text-black-500 lg:text-start"
          >
            Escuchas tus necesidades y analizamos la viabilidad del proyecto
          </p>
        </div>
      </li>
    </ul>

    <div class="mx-auto flex max-w-3xl flex-col items-center">
      <span
        class="z-10 mb-8 mt-16 text-pretty text-center text-xl text-primary-400 drop-shadow-xl lg:mt-16"
      >
        Contáctanos para una consulta sin compromiso y descubre cómo nuestro
        proceso garantiza la mejor solución de hardware para tus necesidades.</span
      >
      <a
        href="https://wa.link/fc3qb5"
        class="mx-auto rounded bg-primary-500 px-8 py-4 text-center text-sm font-light leading-base text-white-200 ring-1 ring-inset ring-primary-500 transition-all duration-200 hover:bg-primary-400 sm:px-8 lg:text-lg xl:px-12 xl:text-xl"
        >Solicitar una cotización</a
      >
    </div>
  </div>
</section>

<style>
  img {
    filter: drop-shadow(-24px 24px 16px rgba(24, 24, 27, 0.5));
  }
</style>
