---
import { Image } from "astro:assets";
import Asesora from "@src/Images/Home/Vendedora.webp";
---

<section class="bg-secondary-700">
  <div
    class="mx-auto flex max-w-7xl flex-col items-end gap-4 px-7 md:flex-row md:px-8"
  >
    <article class="my-10 max-w-[624px]">
      <hgroup class="mb-10">
        <h3 class="text-center text-2xl font-bold text-white-100">
          ¿Necesitas Asesoría Técnica?
        </h3>
        <h3 class="mb-4 text-center text-2xl font-bold text-white-100">
          Te Ayudamos a Llevar tus Ideas al Siguiente Nivel
        </h3>
        <p
          class="text-center text-xl font-normal leading-6 tracking-tight text-white-300 lg:leading-normal lg:tracking-normal"
        >
          Te ofrecemos consultoría personalizada para optimizar tus desarrollos
          y maximizar el éxito de tus proyectos en tecnología.
        </p>
      </hgroup>
      <div class="mb-4 grid place-content-center">
        <a
          href="https://wa.link/2gxtsy"
          target="_blank"
          class="rounded bg-secondary-500 px-6 py-3 text-white-100 hover:bg-secondary-400"
        >
          Solicita tu prueba piloto
        </a>
      </div>
      <p class="hidden place-content-center">
        <span class="text-center text-sm text-[#DDECEE] lg:text-start"
          >Descuento del 50% para nuevos clientes</span
        >
      </p>
    </article>
    <div class="relative aspect-square w-full lg:h-80 lg:w-96">
      <Image
        src={Asesora}
        alt={"Imagen de una vendedora"}
        class="absolute bottom-0"
      />
    </div>
  </div>
</section>

<style>
  section {
    background: linear-gradient(
      90deg,
      rgba(16, 67, 76, 1) 0%,
      rgba(24, 103, 116, 1) 50%,
      rgba(16, 67, 76, 1) 100%
    );
  }
</style>
