---
import bgHomeHero1 from "@src/Images/Home/bg-HomeHero1.avif";
import bgHomeHeroDesktop1 from "@src/Images/Home/bgHomeHeroDesktop1.avif";
import HeroHomeLayout from "./HeroHomeLayout.astro";
---

<HeroHomeLayout bgImage={bgHomeHero1} bgImageDesktop={bgHomeHeroDesktop1}>
  <h1
    class="mb-6 text-pretty text-4xl font-extralight text-white-200 xs:text-5xl md:text-4xl"
  >
    Tu camino hacia la especialización
    <span class="font-bold">Comienza aquí</span>
    <!-- y -->
    <!-- <span class="font-bold">Consultoría para Estudiantes</span> -->
  </h1>
  <p class="text-pretty text-xl font-light leading-tight text-white-300">
    Potencia tu futuro con nuestras líneas de carrera en Hardware, Software, Microcontroladores e Internet de las cosas, donde aprenderás con expertos en tecnología a diseñar, programar e innovar para enfrentar los retos de la industria actual.
  </p>
</HeroHomeLayout>
