---
import { Image } from "astro:assets";
import HeroImage from "@src/Images/Home/Video.png";
---

<section>
  <div
    class="mx-auto flex max-w-7xl flex-col items-start justify-between px-7 pb-16 pt-8 md:flex-row md:px-8 md:py-20"
  >
    <div class="mb-12 md:mb-0">
      <hgroup class="mb-8 max-w-xl md:mb-16">
        <h1 class="mb-6 text-pretty text-5xl font-bold text-black-800">
          Impulsa tu carrera con nuestros <span class="text-primary-500"
            >cursos y soluciones tecnológicas</span
          > personalizadas
        </h1>
        <p class="text-pretty text-2xl font-light leading-7 text-black-500">
          Cursos online en IoT, desarrollo de sistemas embebidos y software, con
          servicios de desarrollo personalizados para empresas de todo el mundo.
        </p>
      </hgroup>
      <div class="flex flex-col gap-6 md:flex-row md:gap-16">
        <a
          href="#"
          class="inline-block rounded bg-primary-500 py-4 text-center text-white-200 hover:bg-primary-400 md:px-8"
          >Ver cursos</a
        >
        <a
          href="#"
          class="inline-block rounded border border-black-300 py-4 text-center text-black-300 hover:border-primary-400 hover:text-primary-400 md:px-8"
          >Solicitar Consultoría</a
        >
      </div>
    </div>
    <div class="md:-translate-y-8">
      <div class="">
        <Image src={HeroImage} alt={"Video del home de MMJ"} />
      </div>
      <ul class="flex flex-col items-end text-sm font-light text-black-500">
        <li>100% cursos en línea</li>
        <li>Consultoría personalizada</li>
        <li>Innovación en cada desarrollo</li>
        <li>Proyectos adaptados a tus necesidades</li>
      </ul>
    </div>
  </div>
</section>
