---
import bgHomeHero3 from "@src/Images/Home/bg-HomeHero3.avif";
import HeroHomeLayout from "./HeroHomeLayout.astro";
---

<HeroHomeLayout bgImage={bgHomeHero3}>
  <h1 class="mb-6 text-pretty text-4xl font-extralight text-white-200">
    <span class="font-bold">Proyectos Exitosos</span>
    Para Empresas que Creen en la
    <span class="font-bold">Innovaci칩n</span>
  </h1>
  <p class="text-pretty text-xl font-light leading-tight text-white-300">
    Descubre nuestros proyectos en hardware, software e IoT, dise침ados para
    cumplir con los m치s altos est치ndares empresariales.
  </p>
</HeroHomeLayout>
