---
import ProyecResume from "./ProyecResume.astro";
import { proyectsResume, type IProyectResume } from "@src/data/ProyectsHome.ts";

// Mucho cuidado con los 500 px, es un valor hardcodeado para funcionar correctamente, esto debe ser modificado en un futuro
---

<section>
  <div class="mx-auto max-w-7xl px-7 py-20 md:px-7">
    <hgroup>
      <h2
        class="mb-6 text-center text-[40px] font-bold leading-none text-secondary-400 md:mb-4 md:leading-normal"
      >
        Proyectos Tecnológicos Personalizados en Diversos Sectores
      </h2>
      <p
        class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl text-black-500"
      >
        Nuestras soluciones han impactado en múltiples sectores, desde la
        industria minera hasta la agroindustria, con tecnología avanzada y
        personalización total.
      </p>
    </hgroup>
    <div
      class="slider flex flex-col-reverse items-start justify-center gap-2 lg:flex-row-reverse lg:gap-0"
    >
      <input class="hidden" name="slider" id="slider1" type="radio" checked />
      <input class="hidden" name="slider" id="slider2" type="radio" />
      <input class="hidden" name="slider" id="slider3" type="radio" />
      <input class="hidden" name="slider" id="slider4" type="radio" />
      <input class="hidden" name="slider" id="slider5" type="radio" />

      <div
        class="projectsContainer mx-auto overflow-y-hidden rounded-lg shadow-[0px_0px_24px_10px_#18181B30] lg:ml-0 lg:rounded-l-none lg:shadow-[16px_16px_24px_10px_#18181B30]"
      >
        <ul
          class="relative transition-all duration-300 ease-in-out lg:h-[500px]"
        >
          {
            proyectsResume.map((proyectResume: IProyectResume) => (
              <ProyecResume proyectResume={proyectResume} />
            ))
          }
        </ul>
      </div>
      <ul
        class="buttonsSlider mx-auto mb-4 flex flex-row flex-wrap items-center justify-center gap-0 overflow-x-hidden sm:gap-2 md:gap-4 lg:mb-0 lg:mr-0 lg:h-[500px] lg:translate-x-[1px] lg:flex-col lg:items-end lg:justify-normal lg:gap-0"
      >
        <!-- El h-[500px] es para evitar que desaparezca la sombra del span interior de las opciones -->
        <!-- El span en el interior de las opciones es para que la sombra de las opciones no se superponga al article -->
        <label
          for="slider1"
          class="project-options relative z-30 grid h-12 place-content-center rounded-l rounded-r px-6 py-3 text-xl text-black-500 hover:text-secondary-500 active:border-b active:border-l active:border-r active:border-t active:border-secondary-100 lg:h-[72px] lg:w-52 lg:rounded-r-none lg:px-0 lg:py-0"
        >
          Agrícola
          <span
            class="invisible absolute inset-0 -z-50 shadow-[0px_0px_12px_0px_#18181B50] lg:shadow-[16px_16px_24px_0px_#18181B30]"
          >
          </span>
        </label>
        <label
          for="slider2"
          class="project-options relative z-30 grid h-12 place-content-center rounded-l rounded-r px-6 py-3 text-xl text-black-500 hover:text-secondary-500 active:border-b active:border-l active:border-r active:border-t active:border-secondary-100 lg:h-[72px] lg:w-52 lg:rounded-r-none lg:px-0 lg:py-0"
        >
          Minería
          <span
            class="invisible absolute inset-0 -z-50 shadow-[0px_0px_12px_0px_#18181B50] lg:shadow-[16px_16px_24px_0px_#18181B30]"
          >
          </span>
        </label>
        <label
          for="slider3"
          class="project-options relative grid h-12 place-content-center rounded-l rounded-r px-6 py-3 text-xl text-black-500 hover:text-secondary-500 active:border-b active:border-l active:border-r active:border-t active:border-secondary-100 lg:h-[72px] lg:w-52 lg:rounded-r-none lg:px-0 lg:py-0"
        >
          Industrial
          <span
            class="invisible absolute inset-0 -z-50 shadow-[0px_0px_12px_0px_#18181B50] lg:shadow-[16px_16px_24px_0px_#18181B30]"
          >
          </span>
        </label>
        <label
          for="slider4"
          class="project-options relative grid h-12 place-content-center rounded-l rounded-r px-6 py-3 text-xl text-black-500 hover:text-secondary-500 active:border-b active:border-l active:border-r active:border-t active:border-secondary-100 lg:h-[72px] lg:w-52 lg:rounded-r-none lg:px-0 lg:py-0"
        >
          Tecnología
          <span
            class="invisible absolute inset-0 -z-50 shadow-[0px_0px_12px_0px_#18181B50] lg:shadow-[16px_16px_24px_0px_#18181B30]"
          >
          </span>
        </label>
        <label
          for="slider5"
          class="project-options relative grid h-12 place-content-center rounded-l rounded-r px-6 py-3 text-xl text-black-500 hover:text-secondary-500 active:border-b active:border-l active:border-t active:border-secondary-100 lg:h-[72px] lg:w-52 lg:rounded-r-none lg:px-0 lg:py-0"
        >
          Administrativas
          <span
            class="invisible absolute inset-0 -z-50 shadow-[0px_0px_12px_0px_#18181B50] lg:shadow-[16px_16px_24px_0px_#18181B30]"
          >
          </span>
        </label>
      </ul>
    </div>
  </div>
</section>

<style is:global>
  .slider
    input:nth-child(1):checked
    ~ .projectsContainer
    > ul
    article:nth-child(1) {
    position: relative;
  }
  .slider
    input:nth-child(2):checked
    ~ .projectsContainer
    > ul
    article:nth-child(2) {
    /* top: -500px; */
    position: relative;
  }

  .slider
    input:nth-child(3):checked
    ~ .projectsContainer
    > ul
    article:nth-child(3) {
    /* top: -1000px; */
    position: relative;
  }

  .slider
    input:nth-child(4):checked
    ~ .projectsContainer
    > ul
    article:nth-child(4) {
    /* top: -1500px; */
    position: relative;
  }

  .slider
    input:nth-child(5):checked
    ~ .projectsContainer
    > ul
    article:nth-child(5) {
    /* top: -2000px; */
    position: relative;
  }

  .slider input:nth-child(1):checked ~ .buttonsSlider label:nth-child(1),
  .slider input:nth-child(2):checked ~ .buttonsSlider label:nth-child(2),
  .slider input:nth-child(3):checked ~ .buttonsSlider label:nth-child(3),
  .slider input:nth-child(4):checked ~ .buttonsSlider label:nth-child(4),
  .slider input:nth-child(5):checked ~ .buttonsSlider label:nth-child(5) {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-color: #b9d5da;
    background-color: #f3f4f6;
    color: #1d7988;
  }

  .slider input:nth-child(1):checked ~ .buttonsSlider label:nth-child(1) > span,
  .slider input:nth-child(2):checked ~ .buttonsSlider label:nth-child(2) > span,
  .slider input:nth-child(3):checked ~ .buttonsSlider label:nth-child(3) > span,
  .slider input:nth-child(4):checked ~ .buttonsSlider label:nth-child(4) > span,
  .slider
    input:nth-child(5):checked
    ~ .buttonsSlider
    label:nth-child(5)
    > span {
    visibility: visible;
  }

  @media (min-width: 1024px) {
    .slider input:nth-child(1):checked ~ .buttonsSlider label:nth-child(1),
    .slider input:nth-child(2):checked ~ .buttonsSlider label:nth-child(2),
    .slider input:nth-child(3):checked ~ .buttonsSlider label:nth-child(3),
    .slider input:nth-child(4):checked ~ .buttonsSlider label:nth-child(4),
    .slider input:nth-child(5):checked ~ .buttonsSlider label:nth-child(5) {
      border-right-width: 0px; /* Esto se aplicará a partir de 1024px */
    }
  }
</style>

<!-- <script>
  const projectOptions = document.querySelectorAll(".project-options");
  const projectOptionsShadow = document.querySelectorAll(
    ".project-options span",
  );

  projectOptions.forEach((option) => {
    option.addEventListener("click", () => {
      projectOptionsShadow.forEach((shadow) => {
        shadow.classList.add("invisible");
      });
      projectOptions.forEach((opt) => {
        opt.classList.remove(
          "border-b",
          "border-l",
          "border-t",
          "border-secondary-100",
          "bg-white-500",
          "text-secondary-500",
        );
      });
      option.classList.add(
        "border-b",
        "border-l",
        "border-t",
        "border-secondary-100",
        "bg-white-500",
        "text-secondary-500",
      );
      (option.firstElementChild as HTMLElement).classList.remove("invisible");
    });
  });
</script> -->
