---
import ProyectsContainer from "./Sections/ProyectsContainer.astro";
import ProyectsTitle from "./Sections/ProyectsTitle.astro.astro";
---

<section>
  <div class="mx-auto max-w-7xl px-7 py-20 md:px-7">
    <ProyectsTitle />
    <ProyectsContainer />
  </div>
</section>
