---
import SolutionIoTHero from "./SolutionIoTHero.astro";
import Antena from "@src/Images/icons/Antena.astro";
import Lupa from "@src/Images/icons/Lupa.astro";
import ControlRemoto from "@src/Images/icons/ControlRemoto.astro";
import BolsaDinero from "@src/Images/icons/BolsaDinero.astro";
import CardSolution from "./CardSolution.astro";
---

<div class="mb-16">
  <SolutionIoTHero />
</div>
<h3 class="relative mb-6 text-2xl font-bold text-black-500 lg:hidden">
  Beneficios de implementar una Solución de IoT
  <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
  <span
    class="absolute bottom-0 left-0 h-[2px] w-1/2 bg-secondary-500 lg:hidden"
  >
    <span class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-secondary-500">
    </span>
  </span>
</h3>
<div
  class="mb-16 grid grid-cols-2 grid-rows-2 gap-8 lg:flex lg:items-center lg:justify-between lg:gap-0"
>
  <CardSolution
    title="Monitoreo en Tiempo Real"
    description="Acceso a datos en vivo para una toma de decisiones más rápida y eficaz."
  >
    <Antena />
  </CardSolution>

  <CardSolution
    title="Conectividad Integral"
    description="Soluciones que permiten la interconexión de dispositivos y sistemas."
  >
    <Lupa />
  </CardSolution>

  <CardSolution
    title="Sostenibilidad"
    description="Soluciones que apoyan un mundo más inteligente y sostenible."
  >
    <ControlRemoto />
  </CardSolution>

  <CardSolution
    title="Optimización de procesos"
    description="Optimización de recursos y minimización de gastos mediante el uso inteligente de datos."
  >
    <BolsaDinero />
  </CardSolution>
</div>
<div class="mb-8 grid place-content-center">
  <a
    href="/servicio-iot"
    class="mx-auto inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
  >
    Ir a Soluciones
  </a>
</div>
