---
import SolutionHardwareContainer from "./Sections/SolutionHardwareContainer.astro";
import SolutionIoTContainer from "./Sections/SolutionIoTContainer.astro";
import SolutionSoftwareContainer from "./Sections/SolutionSoftwareContainer.astro";
import SolutionsTitle from "./Sections/SolutionsTitle.astro";
---

<section class="bg-white-500">
  <div class="mx-auto max-w-7xl overflow-hidden py-20">
    <SolutionsTitle />
    <SolutionIoTContainer />
    <SolutionHardwareContainer />
    <!-- <SolutionSoftwareContainer /> -->
  </div>
</section>
