---
import ChipIntegration from "@src/Images/icons/ChipIntegration.astro";
import ChipOptimizer from "@src/Images/icons/ChipOptimizer.astro";
import Durability from "@src/Images/icons/Durability.astro";
import Scalability from "@src/Images/icons/Scalability.astro";
import SolutionsHardwareHero from "./SolutionsHardwareHero.astro";
---

<div class="mb-16">
  <SolutionsHardwareHero />
</div>
<h3 class="relative mb-6 text-2xl font-bold text-black-500 lg:hidden">
  Beneficios de implementar una Solución de Hardware
  <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
  <span
    class="absolute bottom-0 left-0 h-[2px] w-1/2 bg-secondary-500 lg:hidden"
  >
    <span class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-secondary-500">
    </span>
  </span>
</h3>
<ul
  class="mb-16 grid grid-cols-2 grid-rows-2 gap-8 lg:flex lg:items-center lg:justify-between lg:gap-0"
>
  <li class="flex flex-col items-center gap-1">
    <ChipOptimizer />
    <h6 class="text-center text-xl text-black-500">Optimización de Recursos</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Maximiza el rendimiento y la eficiencia con componentes diseñados
      específicamente para tus necesidades.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <ChipIntegration />
    <h6 class="text-center text-xl text-black-500">Integración Precisa</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Soluciones integradas con exactitud a tus equipos y sistemas actuales.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <Durability />
    <h6 class="text-center text-xl text-black-500">
      Durabilidad y Confiabilidad
    </h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Componentes de alta calidad que ofrecen un rendimiento duradero y
      constante.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <Scalability />
    <h6 class="text-center text-xl text-black-500">
      Escalabilidad Personalizada
    </h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Diseñado para crecer con tus proyectos, adaptable a futuras necesidades.
    </p>
  </li>
</ul>
<div class="mb-32 grid place-content-center">
  <a
    href="#"
    class="mx-auto inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
  >
    Ir a Soluciones
  </a>
</div>
