---
import { Image } from "astro:assets";

import SolutionIoT from "@src/Images/Home/SolutionsIoT.webp";
import SolutionIoTMobile from "@src/Images/Home/SolutionsIoTMobile.webp";
import CheckChip from "@src/Images/icons/CheckChip.astro";
---

<div class="flex flex-col-reverse items-start gap-8 lg:flex-row">
  <div class="self-center lg:h-[537px] lg:w-[592px]">
    <!-- Definimos el alto y ancho para que ocupe espacio y subimos una imagen absoluta -->
    <div class="relative lg:h-[537px] lg:w-[903px]">
      <Image
        src={SolutionIoT}
        width={903}
        alt={"Imagen de soluciones de hardware"}
        class="invisible absolute right-0 top-0 h-full w-full object-contain lg:visible"
      />
      <Image
        src={SolutionIoTMobile}
        width={480}
        alt={"Imagen de soluciones de hardware"}
        class="lg:invisible"
      />
      <h3
        class="invisible absolute bottom-0 right-4 text-2xl font-bold text-black-500 lg:visible"
      >
        Beneficios de implementar una Solución IoT
        <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
      </h3>
    </div>
  </div>
  <article>
    <h3 class="relative mb-7 text-3xl font-bold text-black-500">
      Soluciones de IoT a Medida
      <span
        class="absolute bottom-0 left-0 h-[2px] w-1/2 bg-secondary-500 lg:hidden"
      >
        <span
          class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-secondary-500"
        >
        </span>
      </span>
    </h3>
    <p class="mb-8 font-light leading-5 text-black-500 lg:mb-4">
      Desarrollamos soluciones IoT personalizadas para empresas de todos los
      sectores, utilizando tecnologías como WiFi, Red celular, LoRa/LoRaWAN,
      Ethernet, SigFOX y Zigbee. Optimizamos procesos y mejoramos la eficiencia
      mediante la conexión y gestión de dispositivos, facilitando el análisis de
      datos en tiempo real.
    </p>
    <h3 class="relative mb-2 text-2xl font-bold text-black-500">
      Qué implica:
      <span
        class="absolute bottom-0 left-0 h-[2px] w-2/5 bg-secondary-500 lg:hidden"
      >
        <span
          class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-secondary-500"
        >
        </span>
      </span>
    </h3>
    <ul class="mb-8 flex flex-col gap-4 sm:gap-2 lg:mb-0 lg:block lg:gap-0">
      <li
        class="flex h-10 items-center justify-start gap-2 font-light text-black-800"
      >
        <div class="grid h-8 w-8 place-content-center">
          <CheckChip class="" />
        </div>
        <span class="leading-5">
          Diseño y desarrollo de hardware y software a medida.
        </span>
      </li>
      <li
        class="flex h-10 items-center justify-start gap-2 font-light text-black-800"
      >
        <div class="grid h-8 w-8 place-content-center">
          <CheckChip class="" />
        </div>
        <span class="leading-5">
          Compatibilidad y adaptación a tus sistemas actuales.
        </span>
      </li>
      <li
        class="flex h-10 items-center justify-start gap-2 font-light text-black-800"
      >
        <div class="grid h-8 w-8 place-content-center">
          <CheckChip class="" />
        </div>
        <span class="leading-5"> Conexión y gestión de dispositivos IoT. </span>
      </li>
      <li
        class="flex h-10 items-center justify-start gap-2 font-light text-black-800"
      >
        <div class="grid h-8 w-8 place-content-center">
          <CheckChip class="" />
        </div>
        <span class="leading-5"> Análisis de datos en tiempo real. </span>
      </li>
      <li
        class="flex h-10 items-center justify-start gap-2 font-light text-black-800"
      >
        <div class="grid h-8 w-8 place-content-center">
          <CheckChip class="" />
        </div>
        <span class="leading-5">
          Implementación de tecnologías de comunicación inalámbrica.
        </span>
      </li>
      <li
        class="flex h-10 items-center justify-start gap-2 font-light text-black-800"
      >
        <div class="grid h-8 w-8 place-content-center">
          <CheckChip class="" />
        </div>
        <span class="leading-5">
          Aseguramos que el hardware y software cumpla con las regulaciones y
          estándares de calidad
        </span>
      </li>
    </ul>
  </article>
</div>
