---
import SolutionHardwareContainer from "./SolutionHardwareContainer.astro";
import SolutionIoTContainer from "./SolutionIoTContainer.astro";
import SolutionSoftwareContainer from "./SolutionSoftwareContainer.astro";
---

<section class="bg-white-500">
  <div class="mx-auto max-w-7xl overflow-hidden px-8 py-20">
    <hgroup>
      <h2 class="mb-4 text-center text-[40px] font-bold text-secondary-400">
        Soluciones Personalizadas Para tu Negocio
      </h2>
      <p
        class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl text-black-500"
      >
        Diseñamos y desarrollamos soluciones a medida que se adaptan a tus
        necesidades tecnológicas, desde software especializado hasta hardware e
        IoT innovadores.
      </p>
    </hgroup>
    <SolutionHardwareContainer />
    <SolutionSoftwareContainer />
    <SolutionIoTContainer />
  </div>
</section>
