---
import SolutionsSoftwareHero from "./SolutionsSoftwareHero.astro";
import Engranaje from "@src/Images/icons/Engranaje.astro";
import InterfazScreen from "@src/Images/icons/InterfazScreen.astro";
import CellIntegration from "@src/Images/icons/CellIntegration.astro";
import Puzzle from "@src/Images/icons/Puzzle.astro";
import CardSolution from "./CardSolution.astro";
---

<div class="mb-16">
  <SolutionsSoftwareHero />
</div>
<h3 class="relative mb-6 text-2xl font-bold text-black-500 lg:hidden">
  Beneficios de implementar una Solución de Software
  <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
  <span
    class="absolute bottom-0 left-0 h-[2px] w-1/2 bg-secondary-500 lg:hidden"
  >
    <span class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-secondary-500">
    </span>
  </span>
</h3>
<div
  class="mb-16 grid grid-cols-2 grid-rows-2 gap-8 lg:flex lg:items-center lg:justify-between lg:gap-0"
>
  <CardSolution
    title="Optimización de Procesos"
    description="Mejora en productividad y eficiencia."
  >
    <Engranaje />
  </CardSolution>

  <CardSolution
    title="Automatización Inteligente"
    description="Reducción de intervención manual."
  >
    <InterfazScreen />
  </CardSolution>

  <CardSolution
    title="Escalabilidad y Flexibilidad"
    description="Adaptable a distintos entornos y necesidades."
  >
    <CellIntegration />
  </CardSolution>

  <CardSolution
    title="Control Centralizado"
    description="Monitoreo y gestión en tiempo real."
  >
    <Puzzle />
  </CardSolution>
</div>
<div class="mb-32 grid place-content-center">
  <a
    href="/servicio-software"
    class="mx-auto inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
  >
    Ir a Soluciones
  </a>
</div>
