---
import ChipIntegration from "@src/Images/icons/ChipIntegration.astro";
import ChipOptimizer from "@src/Images/icons/ChipOptimizer.astro";
import Durability from "@src/Images/icons/Durability.astro";
import Scalability from "@src/Images/icons/Scalability.astro";
import SolutionsHardwareHero from "./SolutionsHardwareHero.astro";
import CardSolution from "./CardSolution.astro";
---

<div class="mb-16">
  <SolutionsHardwareHero />
</div>
<h3 class="relative mb-6 text-2xl font-bold text-black-500 lg:hidden">
  Beneficios de implementar una Solución de Hardware
  <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
  <span
    class="absolute bottom-0 left-0 h-[2px] w-1/2 bg-secondary-500 lg:hidden"
  >
    <span class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-secondary-500">
    </span>
  </span>
</h3>
<div
  class="mb-16 grid grid-cols-2 grid-rows-2 gap-8 lg:flex lg:items-center lg:justify-between lg:gap-0"
>

  <CardSolution 
    title="Optimización de Recursos"
    description="Maximiza el rendimiento y la eficiencia con componentes desarrollados"  
  >
    <ChipOptimizer />
  </CardSolution>
 
  <CardSolution 
    title="Integración Precisa"
    description="Soluciones integradas con exactitud a tus equipos y sistemas actuales."  
  >
    <ChipIntegration />
  </CardSolution>

  <CardSolution 
    title="Durability y Confiabilidad"
    description="Componentes de alta calidad que ofrecen un rendimiento duradero y constante."  
  >
    <Durability />
  </CardSolution>

  <CardSolution 
    title="Escalabidad Personalizada"
    description="Diseñado para crecer con tus proyectos, adaptable a futuras necesidades."  
  >
    <Scalability />
  </CardSolution>
  
</div>
<div class="mb-32 grid place-content-center">
  <a
    href="#"
    class="mx-auto inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
  >
    Ir a Soluciones
  </a>
</div>
