---
import SolutionHardwareContainer from "./SolutionHardwareContainer.astro";
import SolutionIoTContainer from "./SolutionIoTContainer.astro";
import SolutionSoftwareContainer from "./SolutionSoftwareContainer.astro";
---

<section class="bg-white-500">
  <div class="mx-auto max-w-7xl overflow-hidden py-20">
    <hgroup class="px-7 md:px-8">
      <h2
        class="mb-4 text-center text-[40px] font-bold leading-tight text-secondary-400 md:leading-normal"
      >
        Soluciones a Medida para tu Negocio o Empresa
      </h2>
      <p
        class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl leading-7 text-black-500 md:leading-normal"
      >
      Diseñamos y desarrollamos soluciones a medida que se adaptan a tus necesidades específicas, desde software especializado hasta hardware y dispositivos IoT interconectados
      </p>
    </hgroup>
    <SolutionIoTContainer />
    <SolutionHardwareContainer />
    <SolutionSoftwareContainer />
  </div>
</section>
