---
import SolutionsHero from "./SolutionsHero.astro";
import LowCost from "@src/Images/icons/LowCost.astro";
---

<section class="bg-white-500">
  <div class="mx-auto max-w-7xl px-8 py-20">
    <hgroup>
      <h2 class="mb-4 text-center text-[40px] font-bold text-secondary-400">
        Soluciones Personalizadas Para tu Negocio
      </h2>
      <p
        class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl text-black-500"
      >
        Diseñamos y desarrollamos soluciones a medida que se adaptan a tus
        necesidades tecnológicas, desde software especializado hasta hardware e
        IoT innovadores.
      </p>
    </hgroup>
    <div class="mb-16">
      <SolutionsHero />
    </div>
    <ul class="mb-16 flex items-center justify-between">
      <li class="flex flex-col items-center gap-1">
        <LowCost />
        <h6 class="text-center text-xl text-black-500">Eficiencia Operativa</h6>
        <p class="max-w-52 text-center font-light text-black-500">
          Hardware optimizado para tus procesos específicos.
        </p>
      </li>
      <li class="flex flex-col items-center gap-1">
        <LowCost />
        <h6 class="text-center text-xl text-black-500">Eficiencia Operativa</h6>
        <p class="max-w-52 text-center font-light text-black-500">
          Hardware optimizado para tus procesos específicos.
        </p>
      </li>
      <li class="flex flex-col items-center gap-1">
        <LowCost />
        <h6 class="text-center text-xl text-black-500">Eficiencia Operativa</h6>
        <p class="max-w-52 text-center font-light text-black-500">
          Hardware optimizado para tus procesos específicos.
        </p>
      </li>
      <li class="flex flex-col items-center gap-1">
        <LowCost />
        <h6 class="text-center text-xl text-black-500">Eficiencia Operativa</h6>
        <p class="max-w-52 text-center font-light text-black-500">
          Hardware optimizado para tus procesos específicos.
        </p>
      </li>
    </ul>
    <div class="grid place-content-center">
      <a
        href="#"
        class="mx-auto inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
      >
        Ir a Soluciones
      </a>
    </div>
  </div>
</section>
