---
import SolutionIoTHero from "./SolutionIoTHero.astro";
import Antena from "@src/Images/icons/Antena.astro";
import Lupa from "@src/Images/icons/Lupa.astro";
import ControlRemoto from "@src/Images/icons/ControlRemoto.astro";
import BolsaDinero from "@src/Images/icons/BolsaDinero.astro";
---

<div class="mb-16">
  <SolutionIoTHero />
</div>
<ul class="mb-16 flex items-center justify-between">
  <li class="flex flex-col items-center gap-1">
    <Antena />
    <h6 class="text-center text-xl text-black-500">Monitoreo en Tiempo Real</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Acceso a datos en vivo para una toma de decisiones rápida y eficaz.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <Lupa />
    <h6 class="text-center text-xl text-black-500">Análisis Predictivo</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Predice y prevé patrones para mejorar la eficiencia y prevenir fallas.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <ControlRemoto />
    <h6 class="text-center text-xl text-black-500">Control Remoto</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Gestiona y supervisa tus dispositivos desde cualquier lugar y en cualquier
      momento.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <BolsaDinero />
    <h6 class="text-center text-xl text-black-500">
      Reducción de Costos Operativos
    </h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Optimización de recursos y minimización de gastos mediante el uso
      inteligente de datos.
    </p>
  </li>
</ul>
<div class="mb-32 grid place-content-center">
  <a
    href="#"
    class="mx-auto inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
  >
    Ir a Soluciones
  </a>
</div>
