---
import SolutionIoTHero from "./SolutionIoTHero.astro";
import Antena from "@src/Images/icons/Antena.astro";
import Lupa from "@src/Images/icons/Lupa.astro";
import ControlRemoto from "@src/Images/icons/ControlRemoto.astro";
import BolsaDinero from "@src/Images/icons/BolsaDinero.astro";
---

<div class="mb-16">
  <SolutionIoTHero />
</div>
<h3 class="relative mb-6 text-2xl font-bold text-black-500 lg:hidden">
  Beneficios de implementar una Solución de IoT
  <!-- ESTO ES UN TÍTULO DE LA SIGUIENTE SECCIÓN -->
  <span
    class="absolute bottom-0 left-0 h-[2px] w-1/2 bg-secondary-500 lg:hidden"
  >
    <span class="absolute -top-1 right-0 h-2 w-2 rounded-full bg-secondary-500">
    </span>
  </span>
</h3>
<ul
  class="mb-16 grid grid-cols-2 grid-rows-2 gap-8 lg:flex lg:items-center lg:justify-between lg:gap-0"
>
  <li class="flex flex-col items-center gap-1">
    <Antena />
    <h6 class="text-center text-xl text-black-500">Monitoreo en Tiempo Real</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Acceso a datos en vivo para una toma de decisiones rápida y eficaz.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <Lupa />
    <h6 class="text-center text-xl text-black-500">Análisis Predictivo</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Predice y prevé patrones para mejorar la eficiencia y prevenir fallas.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <ControlRemoto />
    <h6 class="text-center text-xl text-black-500">Control Remoto</h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Gestiona y supervisa tus dispositivos desde cualquier lugar y en cualquier
      momento.
    </p>
  </li>
  <li class="flex flex-col items-center gap-1">
    <BolsaDinero />
    <h6 class="text-center text-xl text-black-500">
      Reducción de Costos Operativos
    </h6>
    <p class="max-w-52 text-center font-light text-black-500">
      Optimización de recursos y minimización de gastos mediante el uso
      inteligente de datos.
    </p>
  </li>
</ul>
<div class="mb-8 grid place-content-center">
  <a
    href="#"
    class="mx-auto inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
  >
    Ir a Soluciones
  </a>
</div>
