---
import SpecialiteImageContainer from "./Sections/SpecialiteImageContainer.astro";
import SpecialitesInfo from "./Sections/SpecialitesInfo.astro";
---

<section class="overflow-y-hidden bg-white-500">
  <div
    class="relative mx-auto flex max-w-7xl flex-col items-center justify-between gap-16 px-7 py-16 md:px-8 lg:pt-32 xl:flex-row"
  >
    <SpecialiteImageContainer />
    <SpecialitesInfo />
  </div>
</section>
