---
import UbicationInfo from "./Sections/UbicationInfo.astro";
import UbicationTitle from "./Sections/UbicationTitle.astro";
---

<section class="bg-white-100">
  <div class="mx-auto max-w-7xl overflow-hidden px-7 pb-28 pt-20 md:px-8">
    <UbicationTitle />
    <UbicationInfo />
  </div>
</section>
