---
import Clock from "@src/Images/icons/Clock.astro";
import Mail from "@src/Images/icons/Mail.astro";
import Mobile from "@src/Images/icons/Mobile.astro";
import PinMap from "@src/Images/icons/PinMap.astro";
---

<section>
  <div class="mx-auto max-w-7xl overflow-hidden px-8 pb-28 pt-20">
    <h3 class="mb-12 text-center text-[40px] font-bold text-secondary-500">
      Estamos aquí para ayudarte
    </h3>
    <div class="grid grid-cols-2">
      <form
        class="flex w-[416px] flex-col justify-between justify-self-center rounded-lg p-10 shadow-[0px_0px_24px_10px_#18181B30]"
        action=""
      >
        <div class="flex flex-col gap-4">
          <div class="flex flex-col">
            <label for="name" class="h-5 text-black-500">Nombres:*</label>
            <input
              type="text"
              id="name"
              name="name"
              class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
            />
          </div>
          <div class="flex flex-col">
            <label for="email" class="h-5 text-black-500">Correo:*</label>
            <input
              type="email"
              id="email"
              name="email"
              class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
            />
          </div>
          <div class="flex flex-col">
            <label for="email" class="h-5 text-black-500">Celular:*</label>
            <input
              type="email"
              id="email"
              name="email"
              class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
            />
          </div>
          <div class="flex flex-col">
            <label for="email" class="h-5 text-black-500">Asunto:*</label>
            <input
              type="email"
              id="email"
              name="email"
              class="border-b-2 border-black-200 px-2 py-2 invalid:border-[#C82323] invalid:text-[#C82323] focus:border-[#1D7A8A]"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label for="message" class="h-5 text-black-500">Mensaje</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              class="h-24 rounded border-2 border-[#94A3B8] px-2 py-2"
            ></textarea>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="h-14 w-full rounded bg-primary-500 px-8 py-4 text-base text-white-200 hover:bg-primary-400"
          >
            Enviar mensaje
          </button>
        </div>
      </form>
      <div class="max-w-[600px]">
        <p class="mb-4 text-pretty text-center text-xl text-black-500">
          Nos encantaría escucharte. Ya sea que tengas preguntas sobre nuestros
          cursos, soluciones o quieras solicitar una consultoría, no dudes en
          escribirnos.
        </p>
        <ul class="mb-4 grid grid-cols-2 grid-rows-2 gap-2">
          <li class="flex items-center gap-1">
            <Mobile fill="#1F2937" />
            <span class="text-base font-light text-black-500">
              +51 987654321
            </span>
          </li>
          <li class="flex items-center gap-1">
            <PinMap fill="#1F2937" />
            <span class="text-base font-light text-black-500">
              Av. Los innovadores 123, Lima - Perú
            </span>
          </li>
          <li class="flex items-center gap-1">
            <Mail fill="#1F2937" />
            <span class="text-base font-light text-black-500">
              correo@correo.com
            </span>
          </li>
          <li class="flex items-center gap-1">
            <Clock fill="#1F2937" />
            <span class="text-base font-light text-black-500">
              Lunes a Viernes de 09:00 am - 06:00 pm
            </span>
          </li>
        </ul>
        <div class="overflow-hidden rounded-lg">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.1658807614326!2d-77.06638992485819!3d-12.032098588203555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf860eb500ad%3A0x79a9fd3a562173cb!2sMMJ%20SMART%20ELECTRONICS%20SAC!5e0!3m2!1ses!2spe!4v1730001477258!5m2!1ses!2spe"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
