---
import UneteTitle from "./Sections/UneteTitle.astro";
import UneteBeDocent from "./Sections/UneteBeDocent.astro";
import UneteBeCollaborator from "./Sections/UneteBeCollaborator.astro";
---

<section class="">
  <div class="mx-auto max-w-7xl px-8 py-20">
    <UneteTitle />
    <UneteBeDocent />
    <UneteBeCollaborator />
  </div>
</section>
