---
import UneteDocente from "@src/Images/Home/UnedeDocentes.jpg";
import UneteInges from "@src/Images/Home/UneteInges.jpg";
import Check from "@src/Images/icons/Check.astro";
import { Image } from "astro:assets";
---

<section class="">
  <div class="mx-auto max-w-7xl px-8 py-20">
    <hgroup>
      <h2
        class="mb-4 text-center text-[40px] font-bold leading-tight text-secondary-400 md:leading-normal"
      >
        Únete a Nuestro Equipo y Haz la Diferencia
      </h2>
      <p
        class="mx-auto mb-12 max-w-3xl text-pretty text-center text-xl leading-7 text-black-500 md:leading-normal"
      >
        ¿Estás listo para compartir tu experiencia o colaborar en proyectos
        innovadores? ¡Te estamos buscando!
      </p>
    </hgroup>
    <div
      class="mb-16 flex flex-col items-center gap-4 lg:flex-row lg:items-start lg:gap-0"
    >
      <article class="max-w-[488px]">
        <h5 class="mb-6 text-2xl font-bold text-black-500">
          Sé Parte de Nuestro Equipo Docente
        </h5>
        <p class="mb-8 font-light leading-5 text-black-500">
          ¿Eres un apasionado de enseñar y compartir conocimientos? Estamos
          buscando expertos en IoT, desarrollo de software, hardware y más.
          Únete a nuestro equipo docente y ayúdanos a formar a la próxima
          generación de profesionales.
        </p>
        <h5 class="mb-6 text-xl font-bold text-black-500">
          ¿Por qué Formar Parte de Nuestro Equipo?
        </h5>
        <ul class="mb-12 flex flex-col gap-3">
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Flexibilidad horaria</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Capacitación constante</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Plataforma moderna y dinámica</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Impacto directo en la formación de profesionales</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500">
              Formarás parte de una comunidad de expertos en tecnología
            </span>
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500">
              Tendrás la posibilidad de trabajar desde cualquier lugar
            </span>
          </li>
        </ul>
        <div class="grid place-content-center lg:place-content-start">
          <a
            href="https://wa.link/2gumgl"
            target="_blank"
            class="inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
            >Aplicar como docente</a
          >
        </div>
      </article>
      <Image
        width={720}
        src={UneteDocente}
        alt={"Imagen de docentes en clase"}
      />
    </div>
    <div
      class="mb-16 flex flex-col-reverse items-center gap-4 lg:flex-row lg:items-start lg:gap-0"
    >
      <Image
        width={720}
        src={UneteInges}
        alt={"Imagen de ingenieros trabajando"}
      />
      <article class="max-w-[488px]">
        <h5 class="mb-6 text-2xl font-bold text-black-500">
          Colabora en Proyectos Innovadores
        </h5>
        <p class="mb-8 font-light leading-5 text-black-500">
          ¿Te gusta estar en el centro de la acción? Forma parte de nuestro
          equipo en proyectos desafiantes y contribuye al desarrollo de
          soluciones tecnológicas para distintas industrias. Buscamos
          profesionales comprometidos y apasionados por el cambio tecnológico.
        </p>
        <h5 class="mb-6 text-xl font-bold text-black-500">
          Tu Próximo Desafío Te Espera
        </h5>
        <ul class="mb-12 flex flex-col gap-3">
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Flexibilidad horaria</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Capacitación constante</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Proyectos Desafiantes y de Alto Impacto</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Colaborarás con profesionales talentosos y apasionados.</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Desarrollo Profesional Acelerado</span
            >
          </li>
          <li class="flex items-center gap-2">
            <Check />
            <span class="text-base font-light text-black-500"
              >Ambiente Creativo y Colaborativo</span
            >
          </li>
        </ul>
        <div class="grid place-content-center lg:place-content-start">
          <a
            href="https://wa.link/wmbn9h"
            target="_blank"
            class="inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
            >Explora nuestras vacantes</a
          >
        </div>
      </article>
    </div>
  </div>
</section>
