---
import CourseCard from "./CourseCard.astro";
import { getCollection } from "astro:content";

const { carrera } = Astro.params;
const courses = await getCollection("courses");

const coursesInCarrer = courses.filter((course) =>
  course?.id.includes(`${carrera}`),
);
---

<section>
  <div class="px-6 md:relative md:py-16 md:pt-32 lg:px-0">
    <ul
      id="courses-in-carrer"
      class="flex snap-x snap-mandatory gap-6 overflow-x-auto px-2 py-4 lg:block lg:px-0"
    >
      {coursesInCarrer.map((course) => <CourseCard course={course} />)}
    </ul>
  </div>
</section>

<style is:global>
  @media (min-width: 1024px) {
    #courses-in-carrer:nth-child(even) {
    }
  }
</style>
