---
import Chip from "@src/Images/icons/Chip.astro";
import ObjectiveCardContainer from "./ObjectiveCardContainer.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import HeroContent from "./Sections/HeroContent.astro";

const { carrera } = Astro.params;
const specificCarrer = await getEntry("carrers", `${carrera}`);

const { studentProfile, skillsTech, canPerform } = specificCarrer?.data || {};
---

<section class="relative md:bg-black-900">
  <HeroContent />
  <div
    class="-translate-y-16 md:absolute md:left-0 md:right-0 md:z-50 md:mx-auto md:max-w-7xl md:-translate-y-40"
  >
    <ObjectiveCardContainer
      studentProfile={studentProfile}
      skillsTech={skillsTech}
      canPerform={canPerform}
    />
  </div>
</section>
