---
import Check from "@src/Images/icons/Check.astro";

const { studentProfile, skillsTech, canPerform } = Astro.props;
---

<ul class="mt-8 flex snap-x snap-mandatory gap-8 overflow-x-auto p-2">
  <li
    class="h-48 min-w-72 snap-center overflow-y-auto rounded bg-white-100 p-4 shadow-[-8px_8px_0px_0px_#6E3C9F]"
  >
    <h3 class="mb-3 text-xl leading-5 text-black-500">
      Perfil del estudiante al culminar la especialidad
    </h3>
    <p class="text-sm font-light leading-4 tracking-wide text-black-400">
      {studentProfile}
    </p>
  </li>
  <li
    class="h-48 min-w-72 snap-center overflow-y-auto rounded bg-white-100 p-4 shadow-[-8px_8px_0px_0px_#009B7C]"
  >
    <h3 class="mb-3 text-xl leading-5 text-black-500">
      Habilidades técnicas que obtendras
    </h3>
    <p class="font-light leading-4 tracking-wide text-black-400">
      <ul>
        {
          skillsTech.map((skill: string) => (
            <li class="mb-1 flex items-center gap-1">
              <div class="grid h-5 w-5 place-content-center">
                <Check fill="#1D7988" />
              </div>
              <span class="text-sm font-light text-black-400">{skill}</span>
            </li>
          ))
        }
      </ul>
    </p>
  </li>
  <li
    class="h-48 min-w-72 snap-center overflow-y-auto rounded bg-white-100 p-4 shadow-[-8px_8px_0px_0px_#D03C55]"
  >
    <h3 class="mb-3 text-xl leading-5 text-black-500">
      Perfil del estudiante al culminar la especialidad
    </h3>
    <p class="font-light leading-4 tracking-wide text-black-400">
      <ul>
        {
          canPerform.map((perform: string) => (
            <li class="mb-1 flex items-center gap-1">
              <div class="grid h-5 w-5 place-content-center">
                <Check fill="#1D7988" />
              </div>
              <span class="text-sm font-light text-black-400">{perform}</span>
            </li>
          ))
        }
      </ul>
    </p>
  </li>
</ul>
