---
import PlansTitle from "./Atoms/PlansTitle.astro";
import PlansBottomText from "./Atoms/PlansBottomText.astro";
import PlansOptions from "./Sections/PlansOptions.astro";
---

<section>
  <div class="mx-auto max-w-7xl px-7 py-16">
    <PlansTitle />
    <PlansOptions />
    <PlansBottomText />
  </div>
</section>
