---
import ArrowLeft from "@src/Images/icons/ArrowLeft.astro";
import ArrowRight from "@src/Images/icons/ArrowRight.astro";
import ProjectCard from "./ProjectCard.astro";

const { projects } = Astro.props;
const projectAmount = projects.length;
---

<div class="overflow-x-hidden border-y border-black-100">
  <div
    id="carreras-slider"
    class="relative left-0 mx-auto mb-4 flex py-10 transition-all duration-300 ease-in-out xs:mb-8 lg:mb-0"
  >
    {
      projects.map((project: any, index: number) => (
        <div class="min-w-full transition-all duration-300 ease-in-out">
          <ProjectCard index={index} project={project} />
        </div>
      ))
    }
  </div>
</div>
<div class="lg:mt-6 lg:flex lg:gap-8">
  <div class="hidden lg:block lg:min-w-64 lg:flex-1"></div>
  <!-- Simulamos un cuadro para poder alinear correctamente  -->
  <ul
    class="lg:ml-0-0 mx-auto mb-6 flex items-center justify-between gap-2 xs:mb-12 lg:min-w-[672px]"
  >
    <div
      id="carreras-leftArrow"
      class="flex cursor-pointer items-center gap-2 text-black-500"
    >
      <ArrowLeft />
      <label for="" class="cursor-pointer text-sm xs:text-base"
        >Anterior Proyecto</label
      >
    </div>
    <div
      id="carreras-rightArrow"
      class="flex cursor-pointer items-center gap-2"
    >
      <label
        for=""
        class="cursor-pointer text-right text-sm text-black-500 xs:text-base"
        >Siguiente Proyecto</label
      >
      <ArrowRight />
    </div>
  </ul>
</div>

<script is:inline define:vars={{ projectAmount }}>
  // hAZ QUE CUANDO SE HAGA CLICK EN EL BOTÓN DE SIGUIENTE PROYECTO SE MUESTRE EL SIGUIENTE PROYECTO
  const leftArrow = document.getElementById("carreras-leftArrow");
  const rightArrow = document.getElementById("carreras-rightArrow");
  const slider = document.querySelector("#carreras-slider");

  let currentProject = 0;

  rightArrow.addEventListener("click", () => {
    console.log("right");
    if (currentProject < projectAmount - 1) {
      currentProject++;
      slider.style.left = currentProject * -100 + "%";
    }
  });

  leftArrow.addEventListener("click", () => {
    console.log("left");
    if (currentProject > 0) {
      currentProject--;
      slider.style.left = currentProject * -100 + "%";
    }
  });
</script>
