---
import { getEntry } from "astro:content";
import ProjectCardContainer from "./Sections/ProjectCardContainer.astro";

const { carrera } = Astro.params;

const specialite = await getEntry("carrers", `${carrera}`);
const projects = specialite?.data.projects;
---

<section>
  <div class="mx-auto max-w-7xl px-7 py-16">
    <header class="mx-auto mb-12 max-w-[800px]">
      <h2
        class="mb-8 text-center text-3xl font-bold leading-10 text-secondary-500 xs:text-[40px]"
      >
        Proyectos Prácticos en Cada Paso de Tu Carrera
      </h2>
      <p class="text-center text-base leading-tight text-black-500 sm:text-xl">
        En nuestra línea de carrera, cada curso te guía a través de proyectos
        específicos que te permitirán aplicar los conocimientos en situaciones
        reales, estos son algunos de los proyectos que realizaras.
      </p>
    </header>
    <ProjectCardContainer projects={projects} />
    <p class="mb-6 text-center text-primary-500 md:text-xl">
      Descubre más sobre los proyectos y empieza a construir el futuro con
      nosotros.
    </p>
    <p class="grid place-content-center">
      <a
        href="#"
        class="inline-block rounded bg-primary-500 px-6 py-3 text-white-200 transition-colors duration-200 hover:bg-primary-400 md:text-lg"
        >Explora nuestros cursos</a
      >
    </p>
  </div>
</section>
