---
import { Image } from "astro:assets";
import puzzle from "@src/Images/Consultoria/Puzzle.png";
---

<div
  class="relative z-10 grid h-28 w-28 place-content-center rounded-full bg-white-500"
>
  <div
    class="semi-circle absolute -bottom-1 -left-1 -z-10 h-[120px] w-[120px] bg-gradient-to-r from-[#006C57] to-[#009E7E]"
  >
  </div>
  <div
    class="relative z-10 grid h-28 w-28 place-content-center rounded-full bg-white-500"
  >
    <div
      class="relative grid h-20 w-20 place-content-center rounded-full bg-white-400 bg-gradient-to-r from-[#006C57] to-[#009E7E] shadow-lg"
    >
      <div
        class="relative grid h-[72px] w-[72px] place-content-center rounded-full bg-white-400"
      >
        <Image
          src={puzzle}
          alt="icon de puzzle"
          class="hidden scale-75 lg:block"
        />
        <svg
          class="lg:hidden"
          width="40"
          height="40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 37.5 2.5 20l5.47-5.47A5.63 5.63 0 1 0 13.6 8.9L20 2.5l6.4 6.4a5.63 5.63 0 1 1 5.63 5.63L37.5 20 20 37.5Z"
            stroke="url(#paint0_linear_1658_12866)"
            stroke-width="3"
            stroke-linejoin="round"></path>
          <defs>
            <linearGradient
              id="paint0_linear_1658_12866"
              x1="2.5"
              y1="20"
              x2="37.6505"
              y2="20"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#006C57"></stop>
              <stop offset="1" stop-color="#009E7E"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>

<style>
  .semi-circle {
    --size: 120px;
    --half-size: calc(var(--size) / 2);
    --gradient: linear-gradient(#006c57, #009e7e);

    width: var(--size);
    height: var(--half-size);
    background: var(--gradient);
    border-radius: 0 0 var(--half-size) var(--half-size);
  }
</style>
