---
import Hamburguer from "@src/Images/icons/Hamburguer.astro";
import Cart from "../Images/icons/Cart.astro";
import ArrowUp from "@src/Images/icons/ArrowUp.astro";
import LogoLarge from "@src/Images/icons/LogoLarge.astro";
---

<nav
  class="bg-white fixed w-full border-b border-black-100 bg-gradient-to-r from-[#9B2035] to-[#DD455F]"
>
  <!-- El px es porque el tamaño no es 1440 px sino menos, px-8 menos -->
  <div
    class="content-nav mx-auto flex max-w-7xl items-center justify-between px-6 py-2 lg:px-8"
  >
    <LogoLarge />
    <ul class="hidden font-sans text-base font-normal text-black-600 md:flex">
      <a
        href="/"
        class="rounded-full px-4 py-1 text-white-200 transition-colors duration-300 hover:bg-secondary-50 hover:text-secondary-600"
        >Inicio</a
      >
      <a
        href="#"
        class="flex items-center gap-1 rounded-full px-4 py-1 text-white-200 transition-colors duration-300 hover:bg-secondary-50 hover:text-secondary-600"
      >
        Cursos
        <span class=""><ArrowUp fill="currentColor" /></span>
      </a>
      <a
        href="#"
        class="flex items-center gap-1 rounded-full px-4 py-1 text-white-200 transition-colors duration-300 hover:bg-secondary-50 hover:text-secondary-600"
      >
        Servicios
        <span><ArrowUp fill="currentColor" /></span>
      </a>
      <a
        href="#"
        class="rounded-full px-4 py-1 text-white-200 transition-colors duration-300 hover:bg-secondary-50 hover:text-secondary-600"
        >Proyectos</a
      >
      <a
        href="#"
        class="rounded-full px-4 py-1 text-white-200 transition-colors duration-300 hover:bg-secondary-50 hover:text-secondary-600"
        >Contáctanos</a
      >
    </ul>
    <a
      class="hidden cursor-pointer px-4 py-2 transition-all duration-500 hover:translate-x-2 md:block"
    >
      <div class="">
        <Cart fill="#F9FAFB" />
      </div>
    </a>
    <input class="hidden" type="checkbox" name="hamburguer" id="hamburguer" />
    <label for="hamburguer" class="md:hidden">
      <a class="cursor-pointer md:block">
        <div class="">
          <Hamburguer />
        </div>
      </a>
    </label>
    <div
      class="menu absolute -right-24 top-[61px] z-50 hidden h-[512px] w-full bg-[#18181B] bg-opacity-30 transition-all duration-300 md:hidden"
    >
      <ul class="z-50 h-full w-3/4 justify-self-end bg-white-200">
        <li class="border-b border-black-100 px-4 py-6 text-black-800">
          Inicio
        </li>
        <li class="border-b border-black-100 px-4 py-6 text-black-800">
          Cursos
        </li>
        <li class="border-b border-black-100 px-4 py-6 text-black-800">
          Servicios
        </li>
        <li class="border-b border-black-100 px-4 py-6 text-black-800">
          Proyectos
        </li>
        <li class="border-b border-black-100 px-4 py-6 text-black-800">
          Contáctanos
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div class="h-14"></div> -->
<!-- Pequeño espacio que se pierde con el position:fixed -->
<style is:global>
  /* // Para asegurarnos que el menú desplegable se vea arriba de todo */
  nav {
    z-index: 1000;
  }

  @keyframes slideIn {
    0% {
      display: block;
    }
    100% {
      right: 0px;
    }
  }

  /* Cuando el checkbox está marcado, aplica la animación */
  #hamburguer:checked ~ .menu {
    display: block;
    animation: slideIn 0.3s forwards; /* Ejecuta la animación */
  }
</style>
