---
const { course } = Astro.params;
---

<a
  href={`https://api.whatsapp.com/send?phone=51970570927&text=Buenas,%20vengo%20de%20la%20web,%20quiero%20adquirir%20el%20curso%20de%20${course}`}
  target="_blank"
  class="mb-6 inline-block rounded bg-primary-500 px-6 py-3 text-white-200 hover:bg-primary-400"
>
  Quiero adquirir el kit de desarrollo
</a>
